@import "FontAwesome/font-awesome";
@import "Bootstrap/variables";
@import "variables";

/* Icon rotations and mirroring */
.fa-rotate-90() {
  -webkit-transform : rotate(90deg);
  -moz-transform    : rotate(90deg);
  -ms-transform     : rotate(90deg);
  -o-transform      : rotate(90deg);
  transform         : rotate(90deg);
  filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.fa-rotate-180() {
  -webkit-transform : rotate(180deg);
  -moz-transform    : rotate(180deg);
  -ms-transform     : rotate(180deg);
  -o-transform      : rotate(180deg);
  transform         : rotate(180deg);
  filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.fa-rotate-270() {
  -webkit-transform : rotate(270deg);
  -moz-transform    : rotate(270deg);
  -ms-transform     : rotate(270deg);
  -o-transform      : rotate(270deg);
  transform         : rotate(270deg);
  filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.fa-flip-horizontal() {
  -webkit-transform : scale(-1, 1);
  -moz-transform    : scale(-1, 1);
  -ms-transform     : scale(-1, 1);
  -o-transform      : scale(-1, 1);
  transform         : scale(-1, 1);
}

.fa-flip-vertical() {
  -webkit-transform : scale(1, -1);
  -moz-transform    : scale(1, -1);
  -ms-transform     : scale(1, -1);
  -o-transform      : scale(1, -1);
  transform         : scale(1, -1);
}

.fa-icon-content(@fa-icon) {
  .fa-icon();
  &:before { content: @fa-icon; }
}

.fa-icon-color(@color) {
  &:before { color: @color; }
}

.icon-radarr-warning {
  .fa-icon-content(@fa-var-exclamation-triangle);
  .fa-icon-color(@brand-warning);
}

.icon-radarr-available {
  .fa-icon-content(@fa-var-clock-o);
}

.icon-radarr-edit {
  .fa-icon-content(@fa-var-wrench);
}

.icon-radarr-blacklist {
  .fa-icon-content(@fa-var-ban);
  .fa-icon-color(@brand-danger);

}

.icon-radarr-spinner {
  .fa-icon-content(@fa-var-spinner);
}

.fa-spin-overlay {
  .fa-icon();
  position         : relative;
  text-align       : center;
  vertical-align   : baseline;

  i {
    opacity        : 0.0;
    margin         : 0 !important;

    &.icon-radarr-spinner {
      opacity        : 1.0;
      margin         : 0 -0.5em !important;
    }
  }

  span {
    position       : absolute;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
  }
}

.icon-radarr-rename {
  .fa-icon-content(@fa-var-sitemap)
}

.icon-radarr-add {
  .fa-icon-content(@fa-var-plus);
}

.icon-radarr-form-info {
  .fa-icon-content(@fa-var-question-circle);
}

.icon-radarr-form-warning {
  .fa-icon-content(@fa-var-exclamation-triangle);
  .fa-icon-color(@brand-warning);
}

.icon-radarr-form-danger {
  .fa-icon-content(@fa-var-exclamation-circle);
  .fa-icon-color(@brand-danger);
}

.icon-radarr-form-cut {
  .fa-icon-content(@fa-var-scissors);
}

.icon-radarr-form-special {
  .fa-icon-content(@fa-var-exclamation-circle);
}

.icon-radarr-form-info-link {
  .clickable();
  .fa-icon-content(@fa-var-info-circle);
  .fa-icon-color(@brand-primary)
}

.icon-radarr-form-external-link {
  .fa-icon-content(@fa-var-external-link);
}

.icon-radarr-update {
  .fa-icon-content(@fa-var-download);
}

.icon-radarr-download {
  .fa-icon-content(@fa-var-download);
}

.icon-radarr-downloading {
  .fa-icon-content(@fa-var-cloud-download);
}

.icon-radarr-downloaded {
  .fa-icon-content(@fa-var-inbox);
}

.icon-radarr-pending {
  .fa-icon-content(@fa-var-clock-o);
}

.icon-radarr-queued {
  .fa-icon-content(@fa-var-cloud);
}

.icon-radarr-paused {
  .fa-icon-content(@fa-var-pause);
}

.icon-radarr-active {
  .fa-icon-content(@fa-var-play);
}

.icon-radarr-tba {
  .fa-icon-content(@fa-var-question-circle);
}

.icon-radarr-missing {
  .fa-icon-content(@fa-var-exclamation-triangle);
}

.icon-radarr-not-aired {
  .fa-icon-content(@fa-var-clock-o);
}

.icon-radarr-import {
  .fa-icon-content(@fa-var-inbox);
}

.icon-radarr-import-manual {
  .fa-icon-content(@fa-var-user);
}

.icon-radarr-imported {
  .fa-icon-content(@fa-var-download);
}

.icon-radarr-status {
  .fa-icon-content(@fa-var-circle);
}

.icon-radarr-monitored {
  .fa-icon-content(@fa-var-bookmark);
}

.icon-radarr-unmonitored {
  .fa-icon-content(@fa-var-bookmark-o);
}

.icon-radarr-movie-announced {
  .fa-icon-content(@fa-var-bullhorn);
}

.icon-radarr-movie-released {
  .fa-icon-content(@fa-var-file-video-o);
}

.icon-radarr-movie-cinemas {
  .fa-icon-content(@fa-var-ticket);
}

.icon-radarr-log-info {
  .fa-icon-content(@fa-var-info-circle);
  .fa-icon-color(dodgerblue);
}

.icon-radarr-log-debug {
  .fa-icon-content(@fa-var-info-circle);
  .fa-icon-color(gray);
}

.icon-radarr-log-trace {
  .fa-icon-content(@fa-var-info-circle);
  .fa-icon-color(lightgrey);
}

.icon-radarr-log-warn {
  .fa-icon-content(@fa-var-exclamation-circle);
  .fa-icon-color(@brand-warning);
}

.icon-radarr-log-error {
  .fa-icon-content(@fa-var-bug);
  .fa-icon-color(@brand-danger);
}

.icon-radarr-log-fatal {
  .fa-icon-content(@fa-var-times-circle);
  .fa-icon-color(purple);
}

.icon-radarr-import-failed {
  .fa-icon-content(@fa-var-download);
  .fa-icon-color(@brand-danger);
}

.icon-radarr-download-failed {
  .fa-icon-content(@fa-var-cloud-download);
  .fa-icon-color(@brand-danger);
}

.icon-radarr-download-warning {
  .fa-icon-content(@fa-var-cloud-download);
  .fa-icon-color(@brand-warning);
}

.icon-radarr-download-warning {
  .fa-icon-content(@fa-var-download);
  .fa-icon-color(@brand-warning);
}

.icon-radarr-shutdown {
  .fa-icon-content(@fa-var-power-off);
  .fa-icon-color(@brand-danger);
}

.icon-radarr-restart {
  .fa-icon-content(@fa-var-repeat);
}

.icon-radarr-health-warning {
  .fa-icon-content(@fa-var-exclamation-circle);
  .fa-icon-color(@brand-warning);
}

.icon-radarr-health-error {
  .fa-icon-content(@fa-var-exclamation-circle);
  .fa-icon-color(@brand-danger);
}

.icon-radarr-search {
  .fa-icon-content(@fa-var-search);
}

.icon-radarr-search-manual {
  .fa-icon-content(@fa-var-user);
}

.icon-radarr-search-automatic {
  .fa-icon-content(@fa-var-rocket);
}

.icon-radarr-delete {
  .fa-icon-content(@fa-var-remove);
  .fa-icon-color(@brand-danger);
}

.icon-radarr-delete-white {
  .fa-icon-content(@fa-var-remove);
}

.icon-radarr-ignore {
  .fa-icon-content(@fa-var-eye-slash);
}

.icon-radarr-deleted {
  .fa-icon-content(@fa-var-trash);
}
.icon-radarr-star {
  .fa-icon-content(@fa-var-star);
}

.icon-radarr-clear {
  .fa-icon-content(@fa-var-trash);
}

.icon-radarr-existing {
  .fa-icon-content(@fa-var-minus);
  .fa-icon-color(@brand-danger);
}

.icon-radarr-suggested {
  .fa-icon-content(@fa-var-plus);
  .fa-icon-color(@brand-success);
}

.icon-radarr-info {
  .fa-icon-content(@fa-var-info-circle);
}

.icon-radarr-all {
  .fa-icon-content(@fa-var-circle-o);
}

//Navbar
.icon-radarr-navbar-collapsed {
  .fa-icon-content(@fa-var-bars);
}

.icon-radarr-navbar-movies {
  .fa-icon-content(@fa-var-film);
}

.icon-radarr-navbar-calendar {
  .fa-icon-content(@fa-var-calendar);
}

.icon-radarr-navbar-activity {
  .fa-icon-content(@fa-var-clock-o);
}

.icon-radarr-navbar-wanted {
  .fa-icon-content(@fa-var-exclamation-triangle);
}

.icon-radarr-navbar-settings {
  .fa-icon-content(@fa-var-cogs);
}

.icon-radarr-navbar-system {
  .fa-icon-content(@fa-var-laptop);
}

.icon-radarr-navbar-donate {
  .fa-icon-content(@fa-var-heart);
  .fa-icon-color(@nzbdroneRed);
}

.icon-radarr-back-to-top {
  .fa-icon-content(@fa-var-arrow-circle-up);
}

.icon-radarr-hdd {
  .fa-icon-content(@fa-var-hdd-o);
}

.icon-radarr-copy {
  .fa-icon-content(@fa-var-clipboard);
}

.icon-radarr-unknown {
  .fa-icon-content(@fa-var-question);
}

.icon-radarr-load-more {
  .fa-icon-content(@fa-var-angle-down);
}

.icon-radarr-ok {
  .fa-icon-content(@fa-var-check);
}

.icon-radarr-calendar-o {
  .fa-icon-content(@fa-var-calendar-o);
}

.icon-radarr-folder-open {
  .fa-icon-content(@fa-var-folder-open);
}

.icon-radarr-refresh {
  .fa-icon-content(@fa-var-refresh);
}

.icon-radarr-series-ended {
  .fa-icon-content(@fa-var-stop);
}

.icon-radarr-series-continuing {
  .fa-icon-content(@fa-var-play);
}

.icon-radarr-series-unmonitored {
  .fa-icon-content(@fa-var-pause);
}

.icon-radarr-checked {
  .fa-icon-content(@fa-var-check-square);
}

.icon-radarr-unchecked {
  .fa-icon-content(@fa-var-square-o);
}

.icon-radarr-expand {
  .fa-icon-content(@fa-var-chevron-right);
}

.icon-radarr-expanded {
  .fa-icon-content(@fa-var-chevron-down);
}

.icon-radarr-panel-show {
  .fa-icon-content(@fa-var-chevron-circle-down);
}

.icon-radarr-panel-hide {
  .fa-icon-content(@fa-var-chevron-circle-up);
}

.icon-radarr-comment {
  .fa-icon-content(@fa-var-comment)
}

.icon-radarr-rss {
  .fa-icon-content(@fa-var-rss)
}

.icon-radarr-view-poster {
  .fa-icon-content(@fa-var-th-large)
}

.icon-radarr-view-list {
  .fa-icon-content(@fa-var-th-list)
}

.icon-radarr-view-table {
  .fa-icon-content(@fa-var-table)
}

.icon-radarr-reorder {
  .fa-icon-content(@fa-var-bars);
}

.icon-radarr-browser-computer {
  .fa-icon-content(@fa-var-desktop);
}

.icon-radarr-browser-up {
  .fa-icon-content(@fa-var-level-up);
}

.icon-radarr-browser-folder {
  .fa-icon-content(@fa-var-folder-o);
}

.icon-radarr-browser-file {
  .fa-icon-content(@fa-var-file-o);
}

.icon-radarr-sort-asc {
  .fa-icon-content(@fa-var-sort-asc);
}

.icon-radarr-sort-desc {
  .fa-icon-content(@fa-var-sort-desc);
}

.icon-radarr-pager-first {
  .fa-icon-content(@fa-var-fast-backward);
}

.icon-radarr-pager-previous {
  .fa-icon-content(@fa-var-backward);
}

.icon-radarr-pager-next {
  .fa-icon-content(@fa-var-forward);
}

.icon-radarr-pager-last {
  .fa-icon-content(@fa-var-fast-forward);
}

.icon-radarr-logout {
  .fa-icon-content(@fa-var-sign-out);
}

.icon-radarr-file-text {
  .fa-icon-content(@fa-var-file-text);
}

.icon-radarr-backup-scheduled {
  .fa-icon-content(@fa-var-clock-o);
}

.icon-radarr-backup-manual {
  .fa-icon-content(@fa-var-book);
}

.icon-radarr-backup-update {
  .fa-icon-content(@fa-var-retweet);
}

.icon-radarr-episode-file {
  .fa-icon-content(@fa-var-file-video-o);
}

.icon-radarr-header-rejections {
  .fa-icon-content(@fa-var-exclamation-circle);
}
