.container {
  display: flex;
}

.poster {
  flex: 0 0 170px;
  margin-right: 20px;
  height: 250px;
}

.info {
  flex-grow: 1;
}

.name {
  font-weight: 300;
  font-size: 36px;
}

.authorName {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 20px;
}

.disambiguation {
  margin-bottom: 20px;
  color: $disabledColor;
  font-weight: 300;
  font-size: 20px;
}

.overview {
  margin-bottom: 30px;
  max-height: 230px;
  text-align: justify;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 24px;
  cursor: pointer;
}

.left {
  display: flex;
  align-items: center;
  flex: 0 1 300px;
}

.bookType {
  margin-bottom: 20px;
  border: 1px solid $borderColor;
  border-radius: 4px;
  background-color: $white;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.bookTypeLabel {
  margin-right: 5px;
  margin-left: 5px;
}

.bookCount {
  color: #8895aa;
  font-style: italic;
  font-size: 18px;
}

.expandButton {
  composes: link from '~Components/Link/Link.css';

  flex-grow: 1;
  width: 100%;
  text-align: center;
}

.searchForNewBookLabelContainer {
  display: flex;
  margin-top: 2px;
}

.searchForNewBookLabel {
  margin-right: 8px;
  font-weight: normal;
}

.searchForNewBookContainer {
  composes: container from '~Components/Form/CheckInput.css';

  flex: 0 1 0;
}

.searchForNewBookInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}

.modalFooter {
  composes: modalFooter from '~Components/Modal/ModalFooter.css';
}

.addButton {
  @add-mixin truncate;
  composes: button from '~Components/Link/SpinnerButton.css';
}

@media only screen and (max-width: $breakpointSmall) {
  .modalFooter {
    display: block;
    text-align: center;
  }

  .addButton {
    margin-top: 10px;
  }
}
