.inputGroupContainer {
  flex: 1 1 auto;
  min-width: 0;
  max-width: 100%;
}

.inputGroup {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  min-width: 0;
  max-width: 100%;
}

.inputContainer {
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  max-width: 100%;
}

.inputUnit {
  position: absolute;
  top: 0;
  right: 20px;
  margin-top: 7px;
  width: 75px;
  color: var(--helpTextColor);
  text-align: right;
  pointer-events: none;
  user-select: none;
}

.inputUnitNumber {
  composes: inputUnit;

  right: 40px;
}

.pendingChangesContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 30px;
  width: 30px;
}

.pendingChangesIcon {
  color: var(--warningColor);
  font-size: 20px;
  line-height: 35px;
}

.helpLink {
  margin-top: 5px;
  line-height: 20px;
  overflow-wrap: anywhere;
}

@media only screen and (max-width: $breakpointSmall) {
  .inputGroup {
    row-gap: 5px;
  }

  .inputUnit {
    margin-top: 11px;
  }

  .pendingChangesContainer {
    flex-basis: 44px;
    min-height: 44px;
    width: 44px;
  }

  .pendingChangesIcon {
    line-height: 44px;
  }
}
