.hasFileBrowser {
  composes: input from '~./AutoSuggestInput.css';
  composes: hasButton from '~Components/Form/Input.css';
}

.inputWrapper {
  display: flex;
}

.pathMatch {
  border-radius: 3px;
  background-color: color-mix(in srgb, var(--radarrYellow) 30%, transparent);
  box-shadow: 0 0 0 1px color-mix(in srgb, var(--radarrYellow) 40%, transparent);
  font-weight: bold;
}

.fileBrowserButton {
  composes: button from '~./FormInputButton.css';

  height: 35px;
}

.fileBrowserMiddleButton {
  composes: middleButton from '~./FormInputButton.css';
}
