.select {
  composes: input from '~Components/Form/Input.css';

  padding: 0 11px;
  max-width: 100%;
}

.hasError {
  composes: hasError from '~Components/Form/Input.css';
}

.hasWarning {
  composes: hasWarning from '~Components/Form/Input.css';
}

.isDisabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media only screen and (max-width: $breakpointSmall) {
  .select {
    min-height: 44px;
    height: 44px;
  }
}
