<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h3>Keyboard shortcuts</h3>
    </div>
    <div class="modal-body hotkeys-modal">
        <div class="row hotkey-group">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h3>Focus search box</h3>
                    </div>
                    <div class="col-md-3">
                        <kbd class="hotkey">T</kbd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        Pressing 'T' puts the cursor in the search box below the navigation links
                    </div>
                </div>
            </div>
        </div>
        <div class="row hotkey-group">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h3>Save settings</h3>
                    </div>
                    <div class="col-md-3">
                        <kbd class="hotkey">Ctrl + S</kbd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        Pressing Ctrl + 'S' saves your settings (only available on the settings page)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
