# Auto detect text files and perform LF normalization
*text eol=lf

# Explicitly set bash scripts to have unix endings
*.sh text eol=lf
macOS/Lidarr text eol=lf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union