.path {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 4 0 400px;
  font-size: 13px;
  font-family: $monoSpaceFontFamily;
}

.quality,
.dateAdded,
.size {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 120px;
  white-space: nowrap;
}

.actions {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 90px;
}
