.quality,
.size,
.dateAdded {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 120px;
}

.path {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 4 0 400px;
}

.actions {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 1 90px;
}
