.protocol {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 80px;
}

.titleContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
}

.indexer {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 85px;
}

.quality,
.languages {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';
}

.quality {
  white-space: nowrap;
}

.languages {
  width: 100px;
}

.customFormatScore {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 55px;
  font-weight: bold;
  cursor: default;
}

.rejected,
.indexerFlags,
.download {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 50px;
}

.age,
.size {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  white-space: nowrap;
}

.peers {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 75px;
}

.history {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 75px;
}

.blocklist {
  margin-left: 5px;
}

.download {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 80px;
}

.manualDownloadContent {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  width: 22px;
  height: 20.39px;
  vertical-align: middle;
  line-height: 20.39px;

  &:hover {
    color: var(--iconButtonHoverColor);
  }
}

.interactiveIcon {
  position: absolute;
  top: 4px;
  left: 0;
  /* width: 100%; */
  text-align: center;
}

.downloadIcon {
  position: absolute;
  top: 7px;
  left: 8px;
  /* width: 100%; */
  text-align: center;
}
