.cell {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';
}

.protocol {
  composes: cell;

  width: 80px;
}

.indexer {
  composes: cell;

  width: 85px;
}

.quality,
.customFormat,
.language {
  composes: cell;
}

.language {
  width: 100px;
}

.customFormatScore {
  composes: cell;

  width: 55px;
  font-weight: bold;
  cursor: default;
}

.rejected,
.indexerFlags,
.download {
  composes: cell;

  width: 50px;
}

.age,
.size {
  composes: cell;

  white-space: nowrap;
}

.peers {
  composes: cell;

  width: 75px;
}

.title {
  composes: cell;
}

.title div {
  overflow-wrap: break-word;
}

.history {
  composes: cell;

  width: 75px;
}

.blocklist {
  margin-left: 5px;
}
