.protocol {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 80px;
}

.indexer {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 85px;
}

.quality,
.customFormat,
.language {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';
}

.language {
  width: 100px;
}

.customFormatScore {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 55px;
  font-weight: bold;
  cursor: default;
}

.rejected,
.indexerFlags,
.download {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 50px;
}

.age,
.size {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  white-space: nowrap;
}

.peers {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 75px;
}
