.deleteButton {
  composes: button from 'Components/Link/Button.css';

  margin-right: auto;
}

.hideLanguageProfile,
.hideMetadataProfile {
  composes: group from 'Components/Form/FormGroup.css';

  display: none;
}
