.status {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 60px;
}

.collection,
.sortTitle {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 4 0 110px;
}

.minimumAvailability {
  composes: headerCell  from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 140px;
}

.studio {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 2 0 90px;
}

.qualityProfileId {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 125px;
}

.added,
.inCinemas,
.physicalRelease,
.digitalRelease,
.runtime,
.genres {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 180px;
}

.movieStatus,
.certification {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 100px;
}

.year {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 80px;
}

.path {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 150px;
}

.sizeOnDisk {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 120px;
}

.ratings {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 80px;
}

.tags {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 60px;
}

.actions {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 1 90px;
}
