.cell {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  display: flex;
  align-items: center;
}

.status {
  composes: cell;

  flex: 0 0 60px;
}

.collection,
.sortTitle {
  composes: cell;

  flex: 4 0 110px;
}

.minimumAvailability {
  composes: cell;

  flex: 0 0 140px;
}

.studio {
  composes: cell;

  flex: 2 0 90px;
}

.qualityProfileId {
  composes: cell;

  flex: 1 0 125px;
}

.inCinemas,
.physicalRelease,
.digitalRelease,
.genres {
  composes: cell;

  flex: 0 0 180px;
}

.added,
.runtime {
  composes: cell;

  flex: 0 0 100px;
}

.movieStatus {
  composes: cell;

  flex: 0 0 110px;
}

.certification {
  composes: cell;

  flex: 0 0 90px;
}

.year {
  composes: cell;

  flex: 0 0 80px;
}

.path {
  composes: cell;

  flex: 1 0 150px;
}

.sizeOnDisk {
  composes: cell;

  flex: 0 0 120px;
}

.ratings {
  composes: cell;

  flex: 0 0 80px;
}

.tags {
  composes: cell;

  flex: 1 0 60px;
}

.actions {
  composes: cell;

  flex: 0 1 90px;
  min-width: 90px;
}

.checkInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}

.externalLinks {
  margin: 0 2px;
  width: 22px;
  text-align: center;
}
