.status {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 60px;
}

.sortTitle {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 4 0 110px;
}

.studio {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 2 0 90px;
}

.qualityProfileId {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 125px;
}

.added,
.inCinemas,
.genres {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 180px;
}

.certification {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 100px;
}

.path {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 150px;
}

.sizeOnDisk {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 120px;
}

.ratings {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 80px;
}

.tags {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 60px;
}

.actions {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 1 90px;
}

.checkInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}
