.tableScroller {
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
  transition: background-color 500ms;

  &:hover {
    background-color: var(--tableRowHoverBackgroundColor);
  }
}
