.monitored,
.status {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  width: 20px;
  padding: 0;
}

.sortName {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 110px;
}

.albumCount {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  padding: 12px;
}
