<div class="advanced-setting">
    <div class="row">
        <div class="alert alert-warning alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            You can use custom formats to service all your automation needs! Read the <a href="https://github.com/Radarr/Radarr/wiki/Custom-Formats">Wiki Page</a> for more info.
            If you don't have the need for full customization, you can find a lot of predefined examples <a href="https://github.com/Radarr/Radarr/wiki/Custom-Formats#examples">here</a>.
            These should be able to cover most automation needs.
        </div>
    </div>

    <div id="x-custom-formats-region"></div>

    <div id="x-custom-formats-test">

    </div>
</div>
<div class="basic-setting">
    <div class="alert alert-danger alert-dismissable">
        Custom Formats are very advanced. Please make sure you understand them fully before proceeding!
    </div>
</div>


