<div class="">
    <div class="form-horizontal">
        <fieldset>
            <legend>Testing Area</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">Release Title</label>
                <div class="col-md-10">
                    <input name="title" id="test-title" type="text" class="form-control" value="A.Movie.2018.Directors.Cut.2160p.UHD.BluRay.REMUX.HDR.HEVC.Atmos-EPSiLON">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Matched Custom Formats</label>
                <div class="col-md-4" id="matched-formats">

                </div>
            </div>

            {{options}}

            {{#if showLegend}}
            <div class="form-group">
                <label class="col-md-2 control-label">Legend for All Custom Format Matches</label>
                <div class="col-md-10">
                    <div class="row quality-legend-row">
                        <div class="col-md-2">
                            <label class="label label-success label-large">Group Example: ...</label>
                        </div>
                        <div class="col-md-10">
                            One of the Format Tags of Type Example has matched the release. For an overview of all Format Tag Types <a href="https://github.com/Radarr/Radarr/wiki/Custom-Formats#format-tags" target="_blank">see the wiki</a>.
                        </div>
                    </div>
                    <div class="row quality-legend-row">
                        <div class="col-md-2">
                            <label class="label label-danger label-large" style="font-size: 14px;">Group Example: ...</label>
                        </div>
                        <div class="col-md-10">
                            None of the Format Tags of Type Example has matched the release. Because a group failed to match, the release will not be considered this format.
                        </div>
                    </div>
                    <div class="row quality-legend-row">
                        <div class="col-md-2">
                            <label class="label label-info" >S_BLURAY</label>
                        </div>
                        <div class="col-md-10">
                            The Format Tag matches the release. Ergo the whole group matches the release.
                        </div>
                    </div>
                    <div class="row quality-legend-row">
                        <div class="col-md-2">
                            <label class="label label-warning" >S_BLURAY</label>
                        </div>
                        <div class="col-md-10">
                            The Format Tag does not match the release.
                        </div>
                    </div>
                    <div class="row quality-legend-row">
                        <div class="col-md-2">
                            <label class="label label-danger" >L_RQ_ENGLISH</label>
                        </div>
                        <div class="col-md-10">
                            The Format Tag is required and does not match the release. Ergo the release will not be considered this format.
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="form-group">
                <label class="col-md-2 control-label">
                    All Format Matches
                </label>
                <div class="col-md-10">
                    <div id="qd-matches-region">
                        <div id="qd-matches-grid" class="table-responsive"></div>
                    </div>
                </div>

            </div>
        </fieldset>

    </div>
</div>
