<div class="indexer-item thingy">
    <div>
        <h3>{{name}}</h3>
    </div>

    <div class="settings">
        {{#each formatTags}}
            {{formatTag this}}
        {{/each}}
    </div>
</div>
