{{#each groupMatches}}
    <span class="label {{#if didMatch}}label-success{{else}}label-danger{{/if}} label-large text-capitalize">Group {{groupName}}: {{#each matches}}<span class="label {{#if this}}label-info{{else}}label-warning{{/if}} text-uppercase">{{@key}}</span>{{/each}}</span>
{{/each}}
