<div class="album-info">
    {{profile profileId}}
    <span class="label label-info">{{label}}</span>
    <span class="label label-info">{{RelativeDate releaseDate}}</span>
</div>

<div class="album-overview">
    {{overview}}
</div>

<div class="album-file-info"></div>
