<fieldset>
    <legend>Delay profiles</legend>
    <div class="col-md-12">
        <div class="rule-setting-list">
            <div class="rule-setting-header x-header hidden-xs">
                <div class="row">
                    <span class="col-sm-2 text-capitalize">Protocol</span>
                    <span class="col-sm-2 text-capitalize">Usenet delay</span>
                    <span class="col-sm-2 text-capitalize">Torrent delay</span>
                    <span class="col-sm-5 text-capitalize">Tags</span>
                </div>
            </div>
            <div class="rows x-rows"></div>
            <div class="rule-setting-footer">
                <div class="pull-right">
                    <span class="add-rule-setting-mapping">
                        <i class="icon-sonarr-add x-add" title="Add new delay profile."></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</fieldset>
