<ul class="nav nav-tabs">
    <li><a href="#missing" class="x-missing-tab no-router">Missing</a></li>
    <li><a href="#cutoff" class="x-cutoff-tab no-router">Cutoff unmet</a></li>
</ul>

<div class="tab-pane" id="content"></div>
