<RunSettings>
 <RunConfiguration>
   <!-- 0 = As many processes as possible, limited by number of cores on machine, 1 = Sequential (1 process), 2-> Given number of processes up to limit by number of cores on machine-->
   <MaxCpuCount>1</MaxCpuCount>
   <!-- Disables in-assembly parallel execution, applies to both MSTest and NUnit -->
   <DisableParallelization>true</DisableParallelization>
 </RunConfiguration>
 <NUnit>
   <NumberOfTestWorkers>1</NumberOfTestWorkers>
 </NUnit>
</RunSettings>
