.cell {
  composes: cell from 'Components/Table/Cells/TableRowCell.css';
  composes: truncate from 'Styles/Mixins/truncate.css';

  flex-grow: 0;
  flex-shrink: 1;
  white-space: nowrap;
}

@media only screen and (max-width: $breakpointSmall) {
  .cell {
    white-space: nowrap;
  }
}
