.container {
  display: flex;
}

.year {
  margin-left: 5px;
  color: $disabledColor;
}

.poster {
  flex: 0 0 170px;
  margin-right: 20px;
  height: 250px;
}

.info {
  flex-grow: 1;
}

.name {
  font-weight: 300;
  font-size: 36px;
}

.disambiguation {
  margin-bottom: 20px;
  color: $disabledColor;
  font-weight: 300;
  font-size: 20px;
}

.overview {
  margin-bottom: 30px;
  max-height: 230px;
  text-align: justify;
}

.searchForMissingBooksLabelContainer {
  display: flex;
  margin-top: 2px;
}

.searchForMissingBooksLabel {
  margin-right: 8px;
  font-weight: normal;
}

.searchForMissingBooksContainer {
  composes: container from '~Components/Form/CheckInput.css';

  flex: 0 1 0;
}

.searchForMissingBooksInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}

.modalFooter {
  composes: modalFooter from '~Components/Modal/ModalFooter.css';
}

.addButton {
  @add-mixin truncate;
  composes: button from '~Components/Link/SpinnerButton.css';
}

@media only screen and (max-width: $breakpointSmall) {
  .modalFooter {
    display: block;
    text-align: center;
  }

  .addButton {
    margin-top: 10px;
  }
}
