<div class="x-page-not-found">
    <h2 class="text-center">404 not found</h2>
    <p class="lead text-center">Whoops. The page requested could not be found, sorry about that!</p>
    <p><img src="{{UrlBase}}/Content/Images/404.png" alt="404 not found" style="max-height: 400px;" class="img-responsive center-block"></p>
</div>
