<div class="row">
    <div class="col-md-12">
        <div class="btn-group add-artist-btn-group btn-group-lg btn-block">
            <button type="button" class="btn btn-default col-md-7 col-xs-4 add-artist-import-btn x-import">
                <i class="icon-lidarr-hdd"/>
                Import existing artists on disk
            </button>
            <button class="btn btn-default col-md-3 col-xs-4 x-bulk-import"><i class="icon-lidarr-view-list hidden-xs"></i> Bulk Import Artists</button>     
            <button class="btn btn-default col-md-2 col-xs-4 x-add-new"><i class="icon-lidarr-active hidden-xs"></i> Add New Artist</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="add-artist-workspace"></div>
    </div>
</div>

