{{#if folder.path}}
<div class="unmapped-folder-path">
    <div class="col-md-12">
        {{folder.path}}
    </div>
</div>{{/if}}
<div class="x-search-bar">
    <div class="input-group input-group-lg add-artist-search">
        <span class="input-group-addon"><i class="icon-lidarr-search"/></span>

        {{#if folder}}
        <input type="text" class="form-control x-artist-search" value="{{folder.name}}">
        {{else}}
        <input type="text" class="form-control x-artist-search" placeholder="Start typing the name of an artist or album...">
        {{/if}}
    </div>
</div>
<div class="row">
    <div id="search-result" class="result-list col-md-12"/>
</div>
<div class="btn btn-block text-center new-artist-loadmore x-load-more" style="display: none;">
    <i class="icon-lidarr-load-more"/>
    more
</div>
