<div class="download-client-item thingy">
    <h3>{{name}}</h3>
    <div class="settings">
        {{#if enable}}
            <span class="label label-success">Enabled</span>
        {{else}}
            <span class="label label-default">Not enabled</span>
        {{/if}}
    </div>
</div>
