.row {
  display: flex;
  margin-bottom: 5px;
  padding: 5px 0;
  border-bottom: 1px solid var(--borderColor);

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.movieFolderRow {
  composes: row;

  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--borderColor);
}

.movieFolderLabel {
  margin-bottom: 3px;
  font-weight: bold;
}

.selectedContainer {
  margin-right: 30px;
}

.path {
  margin-left: 10px;
}
