.relativePath {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  word-break: break-all;
}

.quality,
.formats,
.language {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';
}

.language {
  width: 100px;
}

.rejected,
.download {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 50px;
}

.age,
.size {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  white-space: nowrap;
}

.actions {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.releaseGroup {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 120px;
}
