.info {
  background-color: var(--movieBackgroundColor);
  text-align: center;
  font-size: $smallFontSize;
}

@media only screen and (max-width: $breakpointSmall) {
  .info {
    padding: 0 5px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
  }
}
