<div class="modal-content">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>{{relativePath}}</h3>
		</div>
		<div class="modal-body edit-movie-modal">
				<div id="select-quality">

                </div>
		</div>

		<div class="modal-footer">

				<span class="indicator x-indicator"><i class="icon-radarr-spinner fa-spin"></i></span>
				<button class="btn" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary x-save">Save</button>
		</div>
</div>
