<div class="modal-content">
		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>{{relativePath}}</h3>
		</div>
		<div class="modal-body edit-movie-modal">
				<div class="row">
						<div class="col-sm-12">
								<div class="form-horizontal">
										<div class="form-group">
												<label class="col-sm-4 control-label">Quality</label>

												<div class="col-sm-4">
														<select class="form-control x-quality" id="inputProfile" name="qualityId">
																{{#each qualities}}
																<option value="{{quality.id}}">{{quality.name}}</option>
																{{/each}}
														</select>

												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<div class="modal-footer">

				<span class="indicator x-indicator"><i class="icon-radarr-spinner fa-spin"></i></span>
				<button class="btn" data-dismiss="modal">Cancel</button>
				<button class="btn btn-primary x-save">Save</button>
		</div>
</div>
