<div class="x-search-bar">
	<div class="form-group" style="margin-bottom: 0px;">
			<label class="col-sm-1 control-label">List</label>

			<div class="col-sm-8">
					{{> ListSelectionPartial lists}}
			</div>
			<div class="col-sm-1">
				<button class="btn btn-info x-fetch-list">Fetch List</button>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-success x-import-selected"><i class="icon-radarr-add"></i> Import Selected</button>
			</div>
	</div>
</div>
<div class="row">
		<div id="fetch-result" class="result-list col-md-12"/>
</div>
