.page {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 100vh;
  height: 100%;
}

.main {
  position: relative; /* need this to position inner content - is this really needed? */
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

@supports (min-height: 100dvh) {
  .page {
    min-height: 100dvh;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .page {
    flex-grow: 1;
    height: auto;
  }
}
