.relativePath {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  word-break: break-all;
}

.quality {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  text-align: center;
}

.label {
  composes: label from '~Components/Label.css';

  cursor: pointer;
}

.loading {
  composes: loading from '~Components/Loading/LoadingIndicator.css';

  margin-top: 0;
}

.additionalFile {
  composes: row from '~Components/Table/TableRow.css';

  color: $disabledColor;
}
