.searchResult {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  color: inherit;
}

.underlay {
  @add-mixin cover;

  background-color: var(--addMovieBackgroundColor);
  transition: background 500ms;

  &:hover {
    background-color: var(--pageBackground);
    box-shadow: 0 0 12px var(--black);
    color: inherit;
    text-decoration: none;
    transition: all 200ms ease-in;
  }
}

.overlay {
  @add-mixin linkOverlay;

  position: relative;
  display: flex;
}

.poster {
  position: relative;
  display: block;
  margin-right: 20px;
  height: 250px;
  background-color: var(--defaultColor);
}

.content {
  flex: 0 1 100%;
  overflow: hidden;
}

.titleRow {
  display: flex;
}

.titleContainer {
  display: flex;
  align-items: flex-end;
  flex: 0 1 auto;
}

.title {
  font-weight: 300;
  font-size: 36px;
}

.year {
  margin-left: 10px;
  color: var(--disabledColor);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
  height: 55px;
}

.alreadyExistsIcon {
  margin-left: 10px;
  color: #37bc9b;
  pointer-events: all;
}

.exclusionIcon {
  margin-left: 10px;
  color: var(--dangerColor);
  pointer-events: all;
}

.overview {
  margin-top: 20px;
}

.studio,
.genres {
  margin-left: 5px;
}

.links {
  margin-left: 5px;
  pointer-events: all;
}

.posterContainer {
  position: relative;
}

.certification {
  margin-left: 2px;
  padding: 0 5px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
}

.runtime {
  margin-left: 8px;
  font-size: 16px;
}

.statusContainer {
  margin-right: 22px;
  font-weight: bold;
}

@media only screen and (max-width: $breakpointMedium) {
  .titleRow {
    justify-content: space-between;
    overflow: hidden;
  }
}
