$hoverScale: 1.05;

.content {
  display: flex;
  flex-grow: 1;
}

.poster {
  position: relative;
}

.editorSelect {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 3;
}

.posterContainer {
  position: relative;
}

.link {
  composes: link from '~Components/Link/Link.css';

  display: block;
  color: var(--defaultColor);

  &:hover {
    color: var(--defaultColor);
    text-decoration: none;
  }
}

.deleted {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-width: 0 25px 25px 0;
  border-style: solid;
  border-color: transparent var(--gray) transparent transparent;
  color: var(--white);
}

.info {
  display: flex;
  flex: 1 0 1px;
  flex-direction: column;
  overflow: hidden;
  padding-left: 10px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  margin-bottom: 10px;
  line-height: 32px;
}

.title {
  @add-mixin truncate;
  composes: link;

  flex: 1 0 1px;
  font-weight: 300;
  font-size: 30px;
}

.actions {
  white-space: nowrap;
}

.details {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
}

.overviewContainer {
  display: flex;
  justify-content: space-between;
  flex: 0 1 1000px;
  flex-direction: column;
}

.overview {
  composes: link;

  overflow: hidden;
  min-height: 0;
}

.tags {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

@media only screen and (max-width: $breakpointSmall) {
  .overview {
    display: none;
  }
}

.externalLinks {
  margin-right: 0.5em;
}

.queue {
  padding-left: 2px;
  border-left: 4px solid var(--queueColor);
}
