<select class="col-md-4 form-control x-list-selection" validation-name="ListSelection">
		<option value="0">All</option>
		{{#if this}}
		{{#each this}}
		<option value="{{id}}">{{name}}</option>
		{{/each}}
		{{else}}
		<option value="">Select List</option>
		{{/if}}
		<option value="addNew">Add a new list</option>
</select>
