<div class="list-item thingy">
		<div>
				<h3>{{name}}</h3>
		</div>

		<div class="settings">
			{{#if enableAuto}}
					<span class="label label-success">Auto</span>
			{{else}}
					<span class="label label-default">Auto</span>
			{{/if}}
		</div>
</div>
