<div id="x-lists-region"></div>
<div class="form-horizontal">
		<div id="x-list-options-region"></div>
		<fieldset>
			<legend>Import Exclusions</legend>
				<div id="exclusions">
				</div>
		</fieldset>
</div>
