<div id="x-toolbar"/>
<div class="alert alert-warning alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    If the log viewer table does not load, please disable your adblocker and refresh the page.
</div>
<div class="row">
    <div class="col-md-12">
        <div id="x-grid" class="table-responsive"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="x-pager"/>
    </div>
</div>
