.center {
  display: flex;
  justify-content: center;
}

.missingUnmonitoredBackground {
  &:global(.colorImpaired) {
    background: repeating-linear-gradient(45deg, var(--colorImpairedGradientDark), var(--colorImpairedGradientDark) 5px, var(--colorImpairedGradient) 5px, var(--colorImpairedGradient) 10px);
  }
}

.missingMonitoredBackground {
  &:global(.colorImpaired) {
    background: repeating-linear-gradient(90deg, var(--colorImpairedGradientDark), var(--colorImpairedGradientDark) 5px, var(--colorImpairedGradient) 5px, var(--colorImpairedGradient) 10px);
  }
}

.queue {
  padding-right: 2px;
  border-left: 5px solid var(--queueColor);
}

.continuing {
  padding-right: 2px;
  border-left: 5px solid var(--primaryColor);
}

.availNotMonitored {
  padding-right: 2px;
  border-left: 5px solid var(--darkGray);
}

.ended {
  padding-right: 2px;
  border-left: 5px solid var(--successColor);
}

.missingMonitored {
  padding-right: 2px;
  border-left: 5px solid var(--dangerColor);
}

.missingUnmonitored {
  padding-right: 2px;
  border-left: 5px solid var(--warningColor);
}
