<fieldset>
    <legend>Options</legend>

    <div class="form-group">
        <label class="col-sm-3 control-label">Minimum Age</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info" title="Usenet only: Minimum age in minutes of NZBs before they are grabbed. Use this to give new releases time to propagate to your usenet provider."/>
        </div>

        <div class="col-sm-2 col-sm-pull-1">
            <input type="number" min="0" name="minimumAge" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Retention</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info" title="Usenet only: Set to zero to set to unlimited"/>
        </div>

        <div class="col-sm-2 col-sm-pull-1">
            <input type="number" min="0" name="retention" class="form-control"/>
        </div>
    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Maximum Size</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info" title="Maximum size for a release to be grabbed in MB. Set to zero to set to unlimited"/>
        </div>

        <div class="col-sm-2 col-sm-pull-1">
            <input type="number" min="0" name="maximumSize" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Prefer Special Indexer Flags</label>
        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info" title="If set to yes, the more indexer flags (such as Golden, Approved, Internal, Freeleech, Double upload, etc.) a release has the more priorized it will be. Quality and Preferred words would still come first."/>
            <a href="https://github.com/Radarr/Radarr/wiki/Indexer-Flags" class="help-link" rel="noreferrer" target="_blank"><i class="icon-sonarr-form-info-link"></i></a>
        </div>
        <div class="col-sm-2 col-sm-pull-1">
            <div class="input-group">
              <label class="checkbox toggle well">
                <input type="checkbox" name="preferIndexerFlags" class="x-completed-download-handling"/>
                <p>
                    <span>Yes</span>
                    <span>No</span>
                </p>

                <div class="btn btn-primary slide-button"/>
            </label>
          </div>
        </div>

    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">RSS Sync Interval</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-warning" title="This will apply to all indexers, please follow the rules set forth by them"/>
            <i class="icon-sonarr-form-info" title="Interval in minutes. Set to zero to disable (this will stop all automatic release grabbing)"/>
        </div>

        <div class="col-sm-2 col-sm-pull-1">
            <input type="number" name="rssSyncInterval" class="form-control" min="0" max="720"/>
        </div>
    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Whitelisted Subtitle Tags</label>
        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info" title="All subtitle tags set here will not be considered hardcoded (e.g. dksub). This field is caseinsensitive. Tags must be put in singular (dksub instead of dksubs)."/>
        </div>
        <div class="col-sm-2 col-sm-pull-1">
  					<input type="text" name="whitelistedHardcodedSubs" class="form-control x-hcwhitelist"/>
  			</div>

    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Allow Hardcoded Subs</label>
        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info" title="If set to yes, all detected hardcoded subs will be downloaded automatically."/>
        </div>
        <div class="col-sm-2 col-sm-pull-1">
            <div class="input-group">
              <label class="checkbox toggle well">
                <input type="checkbox" name="allowHardcodedSubs" class="x-completed-download-handling"/>
                <p>
                    <span>Yes</span>
                    <span>No</span>
                </p>

                <div class="btn btn-primary slide-button"/>
            </label>
          </div>
        </div>

    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Parser Leniency</label>

        <div class="col-sm-1 col-sm-push-2 help-inline">
            <i class="icon-sonarr-form-info leniency-tooltip x-leniency-tooltip"/>
        </div>

        <div class="col-sm-2 col-sm-pull-1">
            <select class="form-control" name="parsingLeniency">
                <option value="strict">Strict</option>
                <option value="parsingLenient">Lenient Parsing</option>
                <option value="mappingLenient">Lenient Mapping</option>
            </select>
        </div>
    </div>

    <legend>Availability Options</legend>
    <div class="form-group">
        <label class="col-sm-3 control-label">Availability Delay</label>
	<div class="col-sm-1 col-sm-push-2 help-inline">
	    <i class="icon-sonarr-form-info" title="A movie will be considered available during RssSync this many days after(or before) the Min Availability has been satisfied. (can be negative)"/>
	    <i class="icon-sonarr-form-info" title="This only effects RssSyncs, It does not effect how movies are displayed or what is shown in the Wanted/Missing View"/>
	</div>
	<div class="col-sm-2 col-sm-pull-1">
	    <input type="number" name="availabilityDelay" class="form-control" min="-365" max="365"/>
        </div>
    </div>
</fieldset>
