<p><strong>(Note: "Strict" is strongly recommended!)</strong></p>
<dl>
    <dt>Strict:</dt>
    <dd>Just as before, year must immediately follow title.</dd>
    <dt>Lenient parsing:</dt>
    <dd>
        Either year or language tag must immediately follow after title. Enables releases such as 'Scary Movie German BluRay' to be parsed correctly.<br>
        <em><strong>Note:</strong> May prevent movies with language tags in title - e.g. The Danish Girl - from being parsed correctly.</em>
    </dd>
    <dt>Lenient mapping:</dt>
    <dd>
        Includes lenient parsing. When title cannot be found, try mapping just parts of the title. Useful when no year is present / not after title.<br>
        <em><strong>Warning:</strong> May cause unexpected mappings, e.g. Scary Movie 2 mapped to movie Scary Movie 1, etc. Use with caution.</em>
    </dd>
</dl>
