<fieldset>
    <legend>More Info</legend>

    <dl class="dl-horizontal info">
        <dt>Home page</dt>
        <dd><a href="https://lidarr.audio/">lidarr.audio</a></dd>

        <dt>Wiki</dt>
        <dd><a href="https://wiki.lidarr.audio/">wiki.lidarr.audio</a></dd>

        <dt>Forums</dt>
        <dd><a href="https://forums.lidarr.audio/">forums.lidarr.audio</a></dd>

        <dt>Reddit</dt>
        <dd><a href="https://reddit.com/r/Lidarr/">reddit.com/r/Lidarr</a></dd>

        <dt>Source</dt>
        <dd><a href="https://github.com/mattman86/Lidarr/">github.com/Lidarr/Lidarr</a></dd>

        <dt>Contributors</dt>
        <dd>DB and API - <a href="https://github.com/majora2007">Majora2007</a></dd>
        <dd>UI and Website - <a href="https://github.com/mattman86">Mattman86</a></dd>
        <dd>UI and Logo - <a href="https://github.com/skoden">Skoden</a></dd>
        <dd>DB and Search - <a href="https://github.com/runraid">Runraid</a></dd>
        <dd>Consultation - <a href="https://github.com/galli-leo">Galli-leo</a></dd>

        <dt>Feature Requests</dt>
        <dd><a href="http://feathub.com/lidarr/Lidarr/">feathub.com/lidarr/Lidarr</a></dd>
        <dd><a href="https://github.com/lidarr/Lidarr/issues">github.com/lidarr/Lidarr/issues</a> <b>(Please post issues on the forum first and not on github)</b></dd>
    </dl>
</fieldset>

