<fieldset>
    <legend>More Info</legend>

    <dl class="dl-horizontal info">
        <dt>Home page</dt>
        <dd><a href="https://radarr.tdb/">radarr.tdb</a></dd>

        <dt>Wiki</dt>
        <dd><a href="https://wiki.radarr.tdb/">wiki.radarr.tdb</a></dd>

<!--        <dt>Forums</dt>
        <dd><a href="https://forums.sonarr.tv/">forums.sonarr.tv</a></dd>

        <dt>Twitter</dt>
        <dd><a href="https://twitter.com/sonarrtv">@sonarrtv</a></dd>

        <dt>IRC</dt>
        <dd><a href="irc://irc.freenode.net/#sonarr">#sonarr on Freenode</a> or (<a href="http://webchat.freenode.net/?channels=#sonarr">webchat</a>)</dd>-->

        <dt>Source</dt>
        <dd><a href="https://github.com/galli-leo/Radarr/">github.com/galli-leo/Radarr</a></dd>

        <dt>Feature Requests</dt>
        <!--<dd><a href="https://forums.sonarr.tv/">forums.sonarr.tv</a></dd>-->
        <dd><a href="https://github.com/galli-leo/Radarr/issues">github.com/galli-leo/Radarr/issues</a></dd>
    </dl>
</fieldset>
