<fieldset>
		<legend>More Info</legend>

		<dl class="dl-horizontal info">
				<dt>Discord</dt>
				<dd><a href="https://discord.gg/AD3UP37">Radarr on Discord</a>

				<dt>Reddit</dt>
				<dd><a href="https://www.reddit.com/r/radarr/">Radarr Subreddit</a>
				<dt>Home page</dt>
				<dd><a href="https://radarr.video/">radarr.video</a></dd>

				{{!--<dt>Wiki</dt>
				<dd><a href="https://wiki.radarr.tdb/">wiki.radarr.tdb</a></dd>

				<dt>Forums</dt>
				<dd><a href="https://forums.sonarr.tv/">forums.sonarr.tv</a></dd>

				<dt>Twitter</dt>
				<dd><a href="https://twitter.com/sonarrtv">@sonarrtv</a></dd>

				<dt>IRC</dt>
				<dd><a href="irc://irc.freenode.net/#sonarr">#sonarr on Freenode</a> or (<a href="http://webchat.freenode.net/?channels=#sonarr">webchat</a>)</dd>--}}

				<dt>Source</dt>
				<dd><a href="https://github.com/Radarr/Radarr">Radarr on Github</a></dd>

				<dt>Feature Requests</dt>
				<!--<dd><a href="https://forums.sonarr.tv/">forums.sonarr.tv</a></dd>-->
				<dd><a href="https://github.com/Radarr/Radarr/issues">Github Issues</a></dd>
		</dl>
</fieldset>
