<fieldset>
    <legend>More info</legend>
    <dl class="dl-horizontal info">
        <dt>Discord</dt>
        <dd>
            <a href="https://discord.gg/AD3UP37">Radarr on Discord</a>
        </dd>

        <dt>Reddit</dt>
        <dd>
            <a href="https://www.reddit.com/r/radarr/">Radarr subreddit</a>
        </dd>

        <dt>Homepage</dt>
        <dd>
            <a href="https://radarr.video/">radarr.video</a>
        </dd>

        <dt>Source</dt>
        <dd>
            <a href="https://github.com/Radarr/Radarr">Radarr on GitHub</a>
        </dd>

        <dt>Feature requests</dt>
        <dd>
            <a href="https://github.com/Radarr/Radarr/issues">GitHub issue tracker</a>
        </dd>
    </dl>
</fieldset>
