<h1>Album Studio</h1>
<div id="x-toolbar"></div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">Album Studio allows you to quickly change the monitored status of albums for all your artists in one place</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="x-artist"></div>
    </div>
</div>