<div class="artist-editor-footer">
    <div class="row">
        <div class="form-group col-md-2">
            <label>Monitor artist</label>

            <select class="form-control x-action x-artist-monitored">
                <option value="noChange">No change</option>
                <option value="true">Monitored</option>
                <option value="false">Unmonitored</option>
            </select>
        </div>

        <div class="form-group col-md-2">
            <label>Monitor albums</label>

            <select class="form-control x-action x-monitor">
                <option value="noChange">No change</option>
                <option value="all">All</option>
                <option value="none">None</option>
            </select>
        </div>

        <div class="form-group col-md-3 actions">
            <label class="x-selected-count">0 artists selected</label>
            <div>
                <button class="btn btn-primary x-action x-update">Update Selected Artist</button>
                <span class="indicator x-indicator"><i class="icon-lidarr-spinner fa-spin"></i></span>
            </div>
        </div>
    </div>
</div>
