Section: web
Priority: optional
Maintainer: Radarr
Source: radarr
Homepage: https://radarr.viedo
Vcs-Git: git@github.com:Radarr/Radarr.git
Vcs-Browser: https://github.com/Radarr/Radarr

Package: radarr
Architecture: all
Depends: libmono-cil-dev (>= 3.2), sqlite3 (>= 3.7), mediainfo (>= 0.7.52)
Description: Radarr is an internet PVR
