Section: web
Priority: optional
Maintainer: Sonarr <contact@nzbdrone.com>
Source: nzbdrone
Homepage: https://lidarr.audio
Vcs-Git: git@github.com:lidarr/Lidarr.git
Vcs-Browser: https://github.com/lidarr/Lidarr

Package: nzbdrone
Architecture: all
Depends: libmono-cil-dev (>= 3.2), sqlite3 (>= 3.7), mediainfo (>= 0.7.52)
Description: Lidarr is a music collection manager
