<div id="x-toolbar"/>
{{> PageSizePartial }}

<div class="row">
		<div class="col-md-12">
            <strong>Disabled movies are possible duplicates. If the match is incorrect, update the Tmdb Id cell to import the proper movie.</strong>
		</div>
</div>

<div class="row">
		<div class="col-md-12">
				<div id="x-movies-bulk" class="queue table-responsive"/>
		</div>
</div>

<div class="row">
		<div class="col-md-12">
				<div id="x-movies-bulk-pager"/>
		</div>
</div>
