<div id="x-toolbar"/>
{{> PageSizePartial }}
<div class="row">
		<div class="col-md-12">
				<div id="x-movies-bulk" class="queue table-responsive"/>
		</div>
</div>

<div class="row">
		<div class="col-md-12">
				<div id="x-movies-bulk-pager"/>
		</div>
</div>
