<div id="x-toolbar"></div>
{{> PageSizePartial }}
<div class="row">
	<div class="col-md-12">
        <strong>Disabled movies are possible duplicates. If the match is incorrect, update the TMDb ID cell to import the proper movie.</strong>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
        <div id="x-movies-bulk" class="queue table-responsive"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
        <div id="x-movies-bulk-pager"></div>
	</div>
</div>
