{{path}}
<br>
<span title="{{#if movieFile.relativePath}}&nbsp;{{movieFile.relativePath}}{{/if}}" class="hint small">
    {{#if movieFile.relativePath}}
        &nbsp;{{movieFile.relativePath}}
    {{else}}
        &nbsp;Movie file not found
    {{/if}}
</span>
