{{path}}<br>
<span title="{{#if movieFile.relativePath}}&nbsp;{{movieFile.relativePath}}{{/if}}" class="hint path">
{{#if movieFile.relativePath}}&#9493;&nbsp;{{movieFile.relativePath}}{{else}}&#9493;&nbsp;Movie File Not Found{{/if}}
</span>
