<select class="col-md-2 form-control page-size x-page-size">
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="500">500</option>
    <option value="1000">1000</option>
</select>
