{{#if_gt proper compare="1"}}
		<span class="badge badge-info" title="PROPER">{{movieFile.quality.qualityDefinition.title}}</span>
{{else}}
		<span class="badge" title="{{#if movieFile.quality.hardcodedSubs}}Warning: {{movieFile.quality.hardcodedSubs}}{{/if}}">{{movieFile.quality.qualityDefinition.title}}</span>
{{/if_gt}}
