<div class="no-movies">
    <div class="row">
        <div class="well col-md-12">
            <i class="icon-radarr-comment"/>
            &nbsp;You must be new around here, before you start adding movies you may want to check out the following links on our <a href="https://github.com/Radarr/Radarr/wiki">wiki</a>:
            <ul>
                <li><a href="https://github.com/Radarr/Radarr/wiki/Setup-Guide">Our setup guide</a></li>
                <li><a href="https://github.com/Radarr/Radarr/wiki/Common-Problems">Common Problems</a></li>
                <li><a href="https://github.com/Radarr/Radarr/wiki/FAQ">FAQ</a></li>
            </ul>
        </div>
    </div>
</div>
