.header {
  z-index: 3;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: $headerHeight;
  background-color: #464b51;
  color: $white;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex: 0 0 $sidebarWidth;
  padding-left: 20px;
}

.logoFull,
.logo {
  vertical-align: middle;
}

.logoFull {
  margin-left: 15px;
  width: 120px;
  height: 40px;
}

.logo {
  width: 32px;
  height: 32px;
}

.sidebarToggleContainer {
  display: none;
  justify-content: center;
  flex: 0 0 45px;
  margin-right: 14px;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.translate {
  composes: link from '~Components/Link/Link.css';

  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  color: #fff;
  text-align: center;
  line-height: 60px;

  &:hover {
    color: $toobarButtonHoverColor;
  }
}

.donate {
  composes: link from '~Components/Link/Link.css';

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  color: $themeRed;
  text-align: center;
  line-height: 60px;

  &:hover {
    color: #9c1f30;
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .logoContainer {
    flex: 0 0 60px;
  }

  .sidebarToggleContainer {
    display: flex;
  }
}

@media only screen and (max-width: $breakpointExtraSmall) {
  .donate,
  .translate {
    display: none;
  }
}
