.header {
  z-index: 3;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding-top: env(safe-area-inset-top);
  min-width: 0;
  height: calc($headerHeight + env(safe-area-inset-top));
  background-color: var(--pageHeaderBackgroundColor);
  color: var(--white);
}

.logoContainer {
  display: flex;
  align-items: center;
  flex: 0 0 $sidebarWidth;
  padding-left: calc(20px + env(safe-area-inset-left));
  min-width: 0;
}

.logoLink {
  line-height: 0;
}

.logoFull,
.logo {
  vertical-align: middle;
}

.logoFull {
  margin-left: 15px;
  width: 120px;
  height: 40px;
}

.logo {
  width: 32px;
  height: 32px;
}

.sidebarToggleContainer {
  display: none;
  align-items: center;
  justify-content: center;
  flex: 0 0 45px;
  margin-right: 14px;
  min-width: 44px;
  min-height: 44px;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: env(safe-area-inset-right);
  min-width: 0;
}

.translate {
  composes: link from '~Components/Link/Link.css';

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  width: 44px;
  color: var(--white);
  text-align: center;
  line-height: $headerHeight;

  &:hover {
    color: var(--toobarButtonHoverColor);
  }
}

.donate {
  composes: link from '~Components/Link/Link.css';

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  width: 44px;
  color: var(--themeRed);
  text-align: center;
  line-height: $headerHeight;

  &:hover {
    color: var(--dangerHoverBackgroundColor);
  }
}

@media only screen and (max-width: $breakpointSmall) {
  .logoContainer {
    flex: 0 0 60px;
    padding-left: calc(14px + env(safe-area-inset-left));
  }

  .sidebarToggleContainer {
    display: flex;
  }
}

@media only screen and (max-width: $breakpointExtraSmall) {
  .logoContainer {
    flex-basis: 52px;
    padding-left: calc(10px + env(safe-area-inset-left));
  }

  .sidebarToggleContainer {
    margin-right: 4px;
  }

  .right {
    flex-wrap: wrap;
  }
}
