<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
            <h3>Force Download</h3>
    </div>
    <div class="modal-body indexer-modal">
    </div>
</div>