<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
            <h3>Force Download</h3>
    </div>
    <div class="modal-body indexer-modal">
        <div id="title-mapping">
            <p>The title "{{release.movieTitle}}" could not be found amongst the alternative titles of the movie. This could lead to problems when Radarr wants to import your movie.
            If you click force download below, the title will be added to the alternative titles using the language selected below.</p>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Language</label>

                    <div class="col-sm-5">
                        <select id="language-selection" class="form-control" name="language">
                            {{#each languages}}
                                {{#unless_eq nameLower compare="unknown"}}
                                    <option value="{{nameLower}}" {{#if_eq nameLower compare="english"}} selected {{/if_eq}}>{{name}}</option>
                                {{/unless_eq}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-sm-1 help-inline">
                        <i class="icon-radarr-form-info" title="Language of the alternative title."/>
                    </div>
                </div>
            </div>

        </div>
        <div id="year-mapping">
            <p>The year {{release.year}} does not match the expected release year. This could lead to problems when Radarr wants to import your movie.
                If you click force download below, the year will be added as a secondary year for this movie.</p>
        </div>
    </div>
    <div class="modal-footer">
        <span class="indicator x-indicator"><i class="icon-radarr-spinner fa-spin"></i></span>
        <button class="btn" data-dismiss="modal">Cancel</button>

        <div class="btn-group">
            <button class="btn btn-primary x-download">Force Download</button>
        </div>
    </div>
</div>