<li class="dropdown-submenu">
    <a href="#" tabindex="-1" data-token="MediaInfo.Simple">MediaInfo</a>
    <ul class="dropdown-menu">
        <li><a href="#" data-token="MediaInfo Simple">MediaInfo Simple</a></li>
        <li><a href="#" data-token="MediaInfo.Simple">MediaInfo.Simple</a></li>
        <li><a href="#" data-token="MediaInfo_Simple">MediaInfo_Simple</a></li>
        <li><a href="#" data-token="MediaInfo Full">MediaInfo Full</a></li>
        <li><a href="#" data-token="MediaInfo.Full">MediaInfo.Full</a></li>
        <li><a href="#" data-token="MediaInfo_Full">MediaInfo_Full</a></li>
        <li><a href="#" data-token="MediaInfo AudioLanguages">MediaInfo AudioLanguages</a></li>
        <li><a href="#" data-token="MediaInfo.AudioLanguages">MediaInfo.AudioLanguages</a></li>
        <li><a href="#" data-token="MediaInfo_AudioLanguages">MediaInfo_AudioLanguages</a></li>
        <li><a href="#" data-token="MediaInfo AudioLanguagesAll">MediaInfo AudioLanguagesAll</a></li>
        <li><a href="#" data-token="MediaInfo.AudioLanguagesAll">MediaInfo.AudioLanguagesAll</a></li>
        <li><a href="#" data-token="MediaInfo_AudioLanguagesAll">MediaInfo_AudioLanguagesAll</a></li>
        <li><a href="#" data-token="MediaInfo SubtitleLanguages">MediaInfo SubtitleLanguages</a></li>
        <li><a href="#" data-token="MediaInfo.SubtitleLanguages">MediaInfo.SubtitleLanguages</a></li>
        <li><a href="#" data-token="MediaInfo_SubtitleLanguages">MediaInfo_SubtitleLanguages</a></li>
    </ul>
</li>
