<li class="dropdown-submenu">
    <a href="#" tabindex="-1" data-token="track">Track</a>
    <ul class="dropdown-menu">
        <li><a href="#" data-token="track">1</a></li>
        <li><a href="#" data-token="track:00">01</a></li>
    </ul>
</li>
