.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  width: 100%;
  background-color: var(--modalBackgroundColor);
}

.closeButton {
  position: absolute;
  top: env(safe-area-inset-top);
  right: env(safe-area-inset-right);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;

  &:hover {
    color: var(--modalCloseButtonHoverColor);
  }
}
