<div class="search-buttons">
    <button class="btn btn-lg btn-block x-search-auto">
        <i class="icon-sonarr-search-automatic" aria-hidden="true"></i>
        Automatic search
    </button>
    <button class="btn btn-lg btn-block btn-primary x-search-manual">
        <i class="icon-sonarr-search-manual" aria-hidden="true"></i>
        Manual search
    </button>
</div>
