<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h3>Delete {{removeCount}} Titles</h3>
    </div>
    <div class="modal-body delete-series-modal">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Delete all files</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="checkbox toggle well">
                                    <input type="checkbox" class="x-delete-files">
                                    <p>
                                        <span>Yes</span>
                                        <span>No</span>
                                    </p>
                                    <div class="btn slide-button btn-danger"></div>
                                </label>
                                <span class="help-inline-checkbox">
                                    <i class="icon-sonarr-form-info" title="Do you want to delete all files from disk?"></i>
                                    <i class="icon-sonarr-form-warning" title="This option is irreversible, use with extreme caution!"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-5 delete-files-info x-delete-files-info">
                        {{fileCount}} movie file(s) will be deleted
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Exclude movies from auto list import?</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <label class="checkbox toggle well">
                                    <input type="checkbox" class="x-add-exclusion">
                                    <p>
                                        <span>Yes</span>
                                        <span>No</span>
                                    </p>
                                    <div class="btn slide-button btn-danger"></div>
                                </label>
                                <span class="help-inline-checkbox">
                                    <i class="icon-sonarr-form-info" title="Do you want to prevent these movies from being read during automatic list syncing?"></i>
                                    <i class="icon-sonarr-form-info" title="Movies can be removed from the exclusions list via the lists tab in settings."></i>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="indicator x-indicator">
            <i class="icon-sonarr-spinner fa-spin" aria-hidden="true"></i>
        </span>
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button class="btn btn-danger x-confirm-delete">Delete</button>
    </div>
</div>
