<div class="row">
    <div class="col-md-12" id="quality-definition"/>
</div>

<div class="advanced-settings">
    <div class="form-horizontal">
        <fieldset>
            <legend>Testing Area</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">Release Title</label>
                <div class="col-md-10">
                    <input name="title" id="test-title" type="text" class="form-control" value="A.Movie.2018.Directors.Cut.2160p.UHD.BluRay.REMUX.HDR.HEVC.Atmos-EPSiLON">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Best Matching Quality</label>
                <span class="badge badge-success col-md-1" id="best-match">None</span>
            </div>
            <div class="form-group">
                <div id="qd-matches-region">
                    <div id="qd-matches-grid" class="table-responsive"></div>
                </div>
            </div>
        </fieldset>

    </div>
</div>

