<div class="row advanced-setting">
    <div class="alert alert-warning alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        You can use custom formats to service all your automation needs! Read the <a href="https://github.com/Radarr/Radarr/wiki/Custom-Formats">Wiki Page</a> for more info.
        If you don't have the need for full customization, you can find a lot of predefined examples <a href="https://github.com/Radarr/Radarr/wiki/Custom-Formats#examples">here</a>.
        These should be able to cover most automation needs.
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="quality-definition"/>
</div>

<div class="advanced-settings">
    <div class="form-horizontal">
        <fieldset>
            <legend>Testing Area</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">Release Title</label>
                <div class="col-md-10">
                    <input name="title" id="test-title" type="text" class="form-control" value="A.Movie.2018.Directors.Cut.2160p.UHD.BluRay.REMUX.HDR.HEVC.Atmos-EPSiLON">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Best Matching Quality</label>
                <div class="form-control">
                    <span class="badge badge-success col-md-1" id="best-match">None</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Legend for All Quality Matches</label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label label-success" style="font-size: 14px;">Group Example: ...</label>
                        </div>
                        <div class="col-md-10">
                            One of the Quality Tags of Type Example has matched the release. For an overview of all Quality Tag Types <a href="https://github.com/Radarr/Radarr/wiki/Custom-Qualities" target="_blank">see the wiki</a>.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label label-danger" style="font-size: 14px;">Group Example: ...</label>
                        </div>
                        <div class="col-md-10">
                            None of the Quality Tags of Type Example has matched the release. Because a group failed to match, the release will not be considered this quality.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label label-info" >S_BLURAY</label>
                        </div>
                        <div class="col-md-10">
                            The Quality Tag matches the release. Ergo the whole group matches the release.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label label-warning" >S_BLURAY</label>
                        </div>
                        <div class="col-md-10">
                            The Quality Tag does not match the release.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label label-danger" >L_RE_ENGLISH</label>
                        </div>
                        <div class="col-md-10">
                            The Quality Tag is required and does not match the release. Ergo the release will not be considered this quality.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">
                    All Quality Matches
                </label>
                <div class="col-md-10">
                    <div id="qd-matches-region">
                        <div id="qd-matches-grid" class="table-responsive"></div>
                    </div>
                </div>

            </div>
        </fieldset>

    </div>
</div>

