.status {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 60px;
}

.sortTitle {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 4 0 110px;
}

.studio {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 2 0 90px;
}

.inCinemas,
.physicalRelease,
.genres {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 180px;
}

.movieStatus,
.certification {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 100px;
}

.ratings {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 80px;
}

.actions {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 1 90px;
}
