<div class="series-editor-footer">
	<div class="row">
		<div class="form-group col-md-1">
            <button class="btn btn-primary x-select-all" title="Select all Movies in the current filter view">Select All (Filtered)</button>
            <button class="btn btn-primary x-unselect-all" title="Clear Selection of all Movies in the current filter view">Unselect All (Filtered)</button>
		</div>
        <div class="form-group col-md-2">
            <label>Monitored</label>

            <select class="form-control x-action x-monitored">
                <option value="noChange">No change</option>
                <option value="true">Monitored</option>
                <option value="false">Unmonitored</option>
            </select>
        </div>

	<div class="form-group col-md-2">
	    <label>Min Availability</label>

	    <select class="form-control x-action x-minimumavailability">
	        <option value="noChange">No change</option>
		<option value="announced">Announced</option>
		<option value="inCinemas">In Cinemas</option>
		<option value="released">Physical/Web</option>
		<option value="preDB">PreDB</option>
	    </select>
	</div>

        <div class="form-group col-md-2">
            <label>Profile</label>

            <select class="form-control x-action x-profiles">
                <option value="noChange">No change</option>
                {{#each profiles.models}}
                    <option value="{{id}}">{{attributes.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group col-md-2">
            <label>Static Path</label>

            <select class="form-control x-action x-static-path">
                <option value="noChange">No change</option>
                <option value="static">Yes</option>
                <option value="dynamic">No</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label>Root Folder</label>

            <select class="form-control x-action x-root-folder" validation-name="RootFolderPath">
                <option value="noChange">No change</option>
                {{#each rootFolders}}
                <option value="{{id}}">{{path}}</option>
                {{/each}}
                <option value="addNew">Add a different path</option>
            </select>
        </div>

        <div class="form-group col-md-2 actions">
            <label class="x-selected-count">0 movies selected</label>
            <div>
                <button class="btn btn-primary x-action x-save">Save</button>
                <button class="btn btn-danger x-action x-organize-files" title="Organize and rename movie files">Organize</button>
                <button class="btn btn-danger x-action x-delete-selected" title="Delete Selected Movies from Radarr">Delete Selected</button>
            </div>
        </div>
    </div>
</div>
