.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: $smallFontSize;
}

.legendItem {
  display: flex;
  margin-bottom: 4px;
  line-height: 16px;
}

.legendItemColor {
  margin-right: 8px;
  width: 30px;
  height: 16px;
  border-radius: 4px;
}

.queue {
  composes: legendItemColor;

  background-color: $queueColor;
}

.continuing {
  composes: legendItemColor;

  background-color: $primaryColor;
}

.availNotMonitored {
  composes: legendItemColor;

  background-color: $darkGray;
}

.ended {
  composes: legendItemColor;

  background-color: $successColor;
}

.missingMonitored {
  composes: legendItemColor;

  background-color: $dangerColor;

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(90deg, $dangerColor, $dangerColor 5px, $dangerColor 5px, $dimColor 10px);
  }
}

.missingUnmonitored {
  composes: legendItemColor;

  background-color: $warningColor;

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(45deg, $warningColor, $warningColor 5px, $warningColor 5px, $dimColor 10px);
  }
}

.statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: $breakpointLarge) {
  .statistics {
    display: block;
  }
}

@media (max-width: $breakpointSmall) {
  .footer {
    display: block;
  }

  .statistics {
    display: flex;
    margin-top: 20px;
  }
}
