.button {
  composes: link from '~Components/Link/Link.css';

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px;
  width: 100%;
  height: 35px;
  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  background-color: $white;
  box-shadow: inset 0 1px 1px $inputBoxShadowColor;
}

.loading {
  display: inline-block;
}

.warningIcon {
  margin-right: 8px;
}

.existing {
  margin-left: 5px;
}

.dropdownArrowContainer {
  right: 16px;
}

.contentContainer {
  z-index: $popperZIndex;
  margin-top: 4px;
  /* 400px container witdh with 8px padding on each side */
  width: 384px;
}

.content {
  padding: 4px;
  border: 1px solid $inputBorderColor;
  border-radius: 4px;
  background-color: $white;
}

.searchContainer {
  display: flex;
}

.searchIconContainer {
  width: 58px;
  border: 1px solid $inputBorderColor;
  border-right: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #edf1f2;
  text-align: center;
  line-height: 33px;
}

.searchInput {
  composes: input from '~Components/Form/TextInput.css';

  border-radius: 0;
}
