.restriction {
  composes: card from '~Components/Card.css';

  width: 290px;
}

.enabled {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.label {
  composes: label from '~Components/Label.css';

  max-width: 100%;
}
