.sectionContainer {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
}

.section {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  min-width: 0;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.overflowMenuButton {
  composes: menuButton from '~Components/Menu/ToolbarMenuButton.css';
}

.overflowMenuItemIcon {
  margin-right: 8px;
}

@media only screen and (max-width: $breakpointMedium) {
  .sectionContainer,
  .section {
    flex-wrap: wrap;
    overflow: visible;
  }

  .sectionContainer {
    flex: 1 1 auto;
  }

  .overflowMenuButton {
    min-width: 44px;
    min-height: 44px;

    &::after {
      margin-left: 0;
      content: '\25BE';
    }
  }
}
