<div class="row">
    <div class="col-md-3 hidden-xs">
        <div class="pull-left">
            <h4>Upcoming</h4>
        </div>
        <div id="x-upcoming"/>
    </div>
    <div class="col-md-9 col-xs-12">
        <div id="x-toolbar" class="calendar-toolbar"/>
        <div id="x-calendar" class="calendar"/>
        <div class="legend calendar">
            <ul class='legend-labels'>
                <li class="legend-label"><span class="primary" title="Album hasn't aired yet"></span>Unreleased</li>
                <li class="legend-label"><span class="purple" title="Album is currently downloading"></span>Downloading</li>
                <li class="legend-label"><span class="danger" title="Album file has not been found"></span>Missing</li>
                <li class="legend-label"><span class="success" title="Album was downloaded and sorted"></span>Downloaded</li>
                <li class="legend-label"><span class="unmonitored" title="Album is unmonitored"></span>Unmonitored</li>
            </ul>
         </div>
    </div>
</div>
