.qualityProfileFormatItemDragSource {
  padding: 4px 0;
}

.qualityProfileFormatItemPlaceholder {
  width: 100%;
  height: 36px;
  border: 1px dotted #aaa;
  border-radius: 4px;
}

.qualityProfileFormatItemPlaceholderBefore {
  margin-bottom: 8px;
}

.qualityProfileFormatItemPlaceholderAfter {
  margin-top: 8px;
}
