.cell {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  display: flex;
  align-items: center;
}

.status {
  composes: cell;

  flex: 0 0 30px;
}

.alreadyExistsIcon {
  width: 20px !important;
  color: #37bc9b;
  pointer-events: all;
}

.exclusionIcon {
  width: 20px !important;
  color: var(--dangerColor);
  pointer-events: all;
}

.collection,
.sortTitle {
  composes: cell;

  flex: 4 0 110px;
}

.studio {
  composes: cell;

  flex: 2 0 90px;
}

.inCinemas,
.physicalRelease,
.digitalRelease,
.genres {
  composes: cell;

  flex: 0 0 180px;
}

.certification {
  composes: cell;

  flex: 0 0 115px;
}

.originalLanguage {
  composes: cell;

  flex: 1 0 125px;
}

.tmdbRating,
.imdbRating,
.rottenTomatoesRating,
.runtime {
  composes: cell;

  flex: 0 0 90px;
}

.popularity {
  composes: cell;

  flex: 0 0 100px;
}

.lists {
  composes: cell;

  flex: 1 0 110px;
}

.isTrending,
.isPopular,
.isRecommendation {
  composes: cell;

  flex: 0 0 30px;
}

.actions {
  composes: cell;

  flex: 0 1 90px;
  min-width: 60px;
}

.checkInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}

.statusIcon {
  width: 20px !important;
  text-align: center;
}

.externalLinks {
  margin-right: 0.5em;
}
