.status {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 30px;
}

.collection,
.sortTitle {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 4 0 110px;
}

.studio {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 2 0 90px;
}

.inCinemas,
.physicalRelease,
.digitalRelease,
.genres {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 180px;
}

.originalLanguage {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 125px;
}

.ratings,
.runtime {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 90px;
}

.lists {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 110px;
}

.certification {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 115px;
}

.isRecommendation {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 50px;
}

.actions {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 1 90px;
}
