:root {
  --main-bg-color: linear-gradient(45deg, #fb3f62 0%, #204c80 37%, #004249 97%) center center/cover no-repeat fixed;

  --modal-bg-color: radial-gradient(circle, #204c80 0%, #000 100%) center center/cover no-repeat fixed;
  --modal-header-color: radial-gradient(circle, #204c80 0%, #000 100%) center center/cover no-repeat fixed;
  --modal-footer-color: radial-gradient(circle, #204c80 0%, #000 100%) center center/cover no-repeat fixed;

  --drop-down-menu-bg: #204c80;

  --button-color: #fb3f62;
  --button-color-hover: #cd4164;
  --button-text: #eee;
  --button-text-hover: #FFF;

  --accent-color:  251, 63, 98;
  --accent-color-hover: rgba(var(--accent-color), .8);
  --link-color: rgb(0, 255, 157);
  --link-color-hover: rgba(0, 255, 157, 0.8);
  --label-text-color: #282a36;
  
  --text:#eee;
  --text-hover: #fff;
  --text-muted: #999;
  
  --arr-queue-color: rgb(0, 255, 157);
  --plex-poster-unwatched: #fb3f62;
  --petio-spinner: invert(29%) sepia(87%) saturate(2199%) hue-rotate(331deg) brightness(115%) contrast(97%); /* Made with https://codepen.io/jsm91/embed/ZEEawyZ */
  --gitea-color-primary-dark-4: 251, 63, 98;
  }

