.event {
  overflow-x: hidden;
  margin: 4px 2px;
  padding: 5px;
  border-bottom: 1px solid $borderColor;
  border-left: 4px solid $borderColor;
  font-size: 12px;
}

.info,
.albumInfo {
  display: flex;
}

.artistName,
.albumTitle {
  @add-mixin truncate;

  flex: 1 0 1px;
  margin-right: 10px;
}

.artistName {
  color: #3a3f51;
  font-size: 14px;
}

.absoluteEpisodeNumber {
  margin-left: 3px;
}

.statusIcon {
  margin-left: 3px;
}

/*
 * Status
 */

.downloaded {
  border-left-color: $successColor;
}

.partial {
  border-left-color: $yellow;
}

.downloading {
  border-left-color: $purple;
}

.unmonitored {
  border-left-color: $gray;

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(45deg, transparent, transparent 5px, #eee 5px, #eee 10px);
  }
}

.missing {
  border-left-color: $dangerColor;

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(90deg, transparent, transparent 5px, #eee 5px, #eee 10px);
  }
}

.unreleased {
  border-left-color: $blue;

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(90deg, transparent, transparent 5px, #eee 5px, #eee 10px);
  }
}
