.event {
  overflow-x: hidden;
  margin: 4px 2px;
  padding: 5px;
  border-bottom: 1px solid $borderColor;
  border-left: 4px solid $borderColor;
  font-size: 12px;

  &:global(.colorImpaired) {
    border-left-width: 5px;
  }
}

.link {
  composes: link from '~Components/Link/Link.css';

  display: block;
  color: $defaultColor;

  &:hover {
    color: $defaultColor;
    text-decoration: none;
  }
}

.info,
.movieInfo {
  display: flex;
}

.movieInfo {
  color: $calendarTextDim;
}

.movieTitle,
.genres {
  @add-mixin truncate;
  flex: 1 0 1px;
  margin-right: 10px;
}

.movieTitle {
  color: #3a3f51;
  font-size: $defaultFontSize;
}

.statusIcon {
  margin-left: 3px;
}

/*
 * Status
 */

.downloaded {
  border-left-color: $successColor !important;

  &:global(.colorImpaired) {
    border-left-color: color($successColor, saturation(+15%)) !important;
  }
}

.queue {
  border-left-color: $purple !important;
}

.unmonitored {
  border-left-color: $gray !important;
}

.missingUnmonitored {
  border-left-color: $warningColor !important;

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(45deg, $colorImpairedGradientDark, $colorImpairedGradientDark 5px, $colorImpairedGradient 5px, $colorImpairedGradient 10px);
  }
}

.missingMonitored {
  border-left-color: $dangerColor !important;

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(90deg, $colorImpairedGradientDark, $colorImpairedGradientDark 5px, $colorImpairedGradient 5px, $colorImpairedGradient 10px);
  }
}

.continuing {
  border-left-color: $primaryColor !important;
}
