<div class="row">
		<div class="col-md-12">
				<div class="btn-group add-movies-btn-group btn-group-lg btn-block btn-group-collapse">
						<button class="btn btn-default col-md-3 col-xs-12 x-bulk-import">
                            <i class="icon-radarr-view-list hidden-xs" aria-hidden="true"></i>
                            Bulk Import Movies
                        </button>
						<button type="button" class="btn btn-default col-md-4 col-xs-12 add-movies-import-btn x-discover">
                            <i class="icon-radarr-star hidden-xs" aria-hidden="true"></i>
                            Discover New movies
                        </button>
						<button class="btn btn-default col-md-2 col-xs-12 x-add-new">
                            <i class="icon-radarr-active hidden-xs" aria-hidden="true"></i>
                            Add New Movie
                        </button>
						<button class="btn btn-default col-md-3 col-xs-12 x-add-lists">
                            <i class="icon-radarr-active hidden-xs" aria-hidden="true"></i>
                            Add Movies from Lists
                        </button>
				</div>
		</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-horizontal" style="margin-top: 15px;">
			<div id="show-existing-movies-toggle">
				<div class="form-group" style="margin-bottom: 0px;">
					<label class="col-sm-3 control-label">Display Existing Movies</label>

					<div class="col-sm-8">
						<div class="input-group">
							<label class="checkbox toggle well">
								<input class="x-show-existing" type="checkbox" checked="checked" name="showExisting"/>
								<p>
										<span>Yes</span>
										<span>No</span>
								</p>

								<div class="btn btn-primary slide-button"/>
							</label>

							<span class="help-inline-checkbox">
                                <i class="icon-radarr-form-info" title="Should Radarr display movies already in your collection?"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
		<div class="col-md-12">
				<div id="add-movies-workspace"></div>
		</div>
</div>
