{{#if folder.path}}
<div class="unmapped-folder-path">
    <div class="col-md-12">
        {{folder.path}}
    </div>
</div>{{/if}}

<div class="x-discover-before">
  <ul class="nav nav-tabs nav-justified settings-tabs">
  		<li><a href="#media-management" class="x-recommendations-tab no-router">Recommendations</a></li>
  		<li><a href="#popular" class="x-popular-tab no-router">Popular</a></li>
  		<li><a href="#upcoming" class="x-upcoming-tab no-router">Upcoming</a></li>
      <li role="presentation" class="dropdown">
    <a class="dropdown-toggle x-lists-tab" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Lists <span class="caret"></span>
    </a>
        <ul id="list-dropdown" class="dropdown-menu">
        </ul>
  </li>
  </ul>
  <h2 class="x-discover-header">
    Recommendations by The Movie Database based on your library:
  </h2>
</div>

<div class="x-search-bar">
    <div class="input-group input-group-lg add-movies-search">
        <span class="input-group-addon"><i class="icon-radarr-search"/></span>

        {{#if folder}}
        <input type="text" class="form-control x-movies-search" value="{{folder.name}}">
        {{else}}
        <input type="text" class="form-control x-movies-search" placeholder="Start typing the name of the movie you want to add ...">
        {{/if}}
    </div>
</div>
<div class="row">
    <div id="search-result" class="result-list col-md-12"/>
</div>
<div class="btn btn-block text-center new-movies-loadmore x-load-more" style="display: none;">
    <i class="icon-radarr-load-more"/>
    more
</div>
