<div class="text-center col-md-12">
    <p class="lead">There was an error searching for '{{term}}'.</p>

    <p>If the movie title contains non-alphanumeric characters try removing them, otherwise try your search again later.</p>
</div>
