.legendItemContainer {
  margin-right: 5px;
  width: 220px;
}

.legendItem {
  display: inline-flex;
  margin-top: -1px;
  vertical-align: middle;
  line-height: 16px;
}

.legendItemColor {
  margin-right: 8px;
  width: 30px;
  height: 16px;
  border-radius: 4px;
}

.queue {
  composes: legendItemColor;

  background-color: var(--queueColor);
}

.continuing {
  composes: legendItemColor;

  background-color: var(--primaryColor);
}

.availNotMonitored {
  composes: legendItemColor;

  background-color: var(--availNotMonitoredColor);
}

.ended {
  composes: legendItemColor;

  background-color: var(--successColor);
}

.missingMonitored {
  composes: legendItemColor;

  background-color: var(--dangerColor);

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(90deg, color(var(--dangerColor) shade(5%)), color(var(--dangerColor) shade(5%)) 5px, color(var(--dangerColor) shade(15%)) 5px, color(var(--dangerColor) shade(15%)) 10px);
  }
}

.missingUnmonitored {
  composes: legendItemColor;

  background-color: var(--warningColor);

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(45deg, var(--warningColor), var(--warningColor) 5px, color(var(--warningColor) tint(15%)) 5px, color(var(--warningColor) tint(15%)) 10px);
  }
}

.missingMonitoredColorImpaired {
  background: repeating-linear-gradient(90deg, var(--colorImpairedGradientDark), var(--colorImpairedGradientDark) 5px, var(--colorImpairedGradient) 5px, var(--colorImpairedGradient) 10px);
}

.missingUnmonitoredColorImpaired {
  background: repeating-linear-gradient(45deg, var(--colorImpairedGradientDark), var(--colorImpairedGradientDark) 5px, var(--colorImpairedGradient) 5px, var(--colorImpairedGradient) 10px);
}

.legendItemText {
  display: inline-block;
}
