.legendItemContainer {
  margin-right: 5px;
  width: 220px;
}

.legendItem {
  display: inline-flex;
  margin-top: -1px;
  vertical-align: middle;
  line-height: 16px;
}

.legendItemColor {
  margin-right: 8px;
  width: 30px;
  height: 16px;
  border-radius: 4px;
}

.queue {
  composes: legendItemColor;

  background-color: $queueColor;
}

.continuing {
  composes: legendItemColor;

  background-color: $primaryColor;
}

.availNotMonitored {
  composes: legendItemColor;

  background-color: $darkGray;
}

.ended {
  composes: legendItemColor;

  background-color: $successColor;
}

.missingMonitored {
  composes: legendItemColor;

  background-color: $dangerColor;

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(90deg, color($dangerColor shade(5%)), color($dangerColor shade(5%)) 5px, color($dangerColor shade(15%)) 5px, color($dangerColor shade(15%)) 10px);
  }
}

.missingUnmonitored {
  composes: legendItemColor;

  background-color: $warningColor;

  &:global(.colorImpaired) {
    background: repeating-linear-gradient(45deg, $warningColor, $warningColor 5px, color($warningColor tint(15%)) 5px, color($warningColor tint(15%)) 10px);
  }
}

.missingMonitoredColorImpaired {
  background: repeating-linear-gradient(90deg, $colorImpairedGradientDark, $colorImpairedGradientDark 5px, $colorImpairedGradient 5px, $colorImpairedGradient 10px);
}

.missingUnmonitoredColorImpaired {
  background: repeating-linear-gradient(45deg, $colorImpairedGradientDark, $colorImpairedGradientDark 5px, $colorImpairedGradient 5px, $colorImpairedGradient 10px);
}

.legendItemText {
  display: inline-block;
}
