<div id="x-toolbar"/>

<div class="row">
    <div class="col-md-12">
        <span><b>Disabled artists are possible duplicates. If the match is incorrect, update the MB Id cell to import the proper artist.</b><span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="x-artists-bulk" class="queue table-responsive"/>
    </div>
</div>
