.movie {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  margin: 2px 4px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--inputBackgroundColor);
  cursor: default;
}

.movieTitle {
  padding: 0 4px;
}

.movieStatus {
  padding: 0 4px;
  border-left: 4px;
  border-left-style: solid;
  background-color: var(--themeLightColor);
  color: var(--defaultColor);
}

.primary {
  border-color: var(--primaryColor);
}

.danger {
  border-color: var(--dangerColor);
}

.success {
  border-color: var(--successColor);
}

.purple {
  border-color: var(--purple);
}

.warning {
  border-color: var(--warningColor);
}

.info {
  border-color: var(--infoColor);
}

.queue {
  border-color: var(--queueColor);
}
