.status {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 60px;
}

.sortName {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 4 0 110px;
}

.qualityProfileId,
.languageProfileId,
.metadataProfileId {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 125px;
}

.nextAlbum,
.lastAlbum,
.added {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 180px;
}

.albumCount {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 100px;
}

.trackProgress,
.latestAlbum {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 150px;
}

.artistType,
.trackCount {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 120px;
}

.path {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 150px;
}

.sizeOnDisk {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 115px;
}

.tags {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 60px;
}

.useSceneNumbering {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 145px;
}

.actions {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 70px;
}
