.status {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 60px;
}

.sortName {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 4 0 110px;
}

.qualityProfileId,
.languageProfileId,
.metadataProfileId {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 125px;
}

.nextAlbum,
.lastAlbum,
.added,
.genres {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 180px;
}

.albumCount {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 100px;
}

.trackProgress {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  display: flex;
  justify-content: center;
  flex: 0 0 150px;
  flex-direction: column;
}

.artistType,
.trackCount {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 130px;
}

.path {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 150px;
}

.sizeOnDisk {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 120px;
}

.ratings {
  composes: headerCell from 'Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 80px;
}

.tags {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 1 0 60px;
}

.useSceneNumbering {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 145px;
}

.actions {
  composes: cell from 'Components/Table/Cells/VirtualTableRowCell.css';

  flex: 0 0 70px;
}

.checkInput {
  composes: input from 'Components/Form/CheckInput.css';

  margin-top: 0;
}
