<fieldset>
    <legend>Track Naming</legend>

    <div class="form-group">
        <label class="col-sm-3 control-label">Rename Tracks</label>

        <div class="col-sm-8">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="renameTracks" class="x-rename-tracks"/>

                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>

                    <div class="btn btn-primary slide-button"/>
                </label>

                <span class="help-inline-checkbox">
                    <i class="icon-lidarr-form-warning" title="Lidarr will use the existing file name if set to no"/>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Replace Illegal Characters</label>

        <div class="col-sm-8">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="replaceIllegalCharacters" />

                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>

                    <div class="btn btn-primary slide-button"/>
                </label>

                <span class="help-inline-checkbox">
                    <i class="icon-lidarr-form-info" title="Replace or Remove illegal characters"/>
                </span>
            </div>
        </div>
    </div>

    <div class="x-naming-options">
        <div class="basic-setting x-basic-naming"></div>

        <div class="form-group advanced-setting">
            <label class="col-sm-3 control-label">Standard Track Format</label>

            <div class="col-sm-1 col-sm-push-8 help-inline">
                <i class="icon-lidarr-form-info" title="" data-original-title="All caps or all lower-case can also be used"></i>
                <a href="https://github.com/NzbDrone/NzbDrone/wiki/Sorting-and-Renaming" class="help-link" title="More information"><i class="icon-lidarr-form-info-link"/></a>
            </div>

            <div class="col-sm-8 col-sm-pull-1">
                <div class="input-group x-helper-input">
                    <input type="text" class="form-control naming-format" name="standardTrackFormat" data-onkeyup="true" />
                    <div class="input-group-btn btn-group x-naming-token-helper">
                        <button class="btn btn-icon-only dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-lidarr-add"></i>
                        </button>
                        <ul class="dropdown-menu">
                            {{> ArtistNameNamingPartial}}
                            {{> AlbumTitleNamingPartial}}
                            {{> ReleaseYearNamingPartial}}
                            {{> TrackNumNamingPartial}}
                            {{> TrackTitleNamingPartial}}
                            {{> QualityNamingPartial}}
                            {{> MediaInfoNamingPartial}}
                            {{> ReleaseGroupNamingPartial}}
                            {{> OriginalTitleNamingPartial}}
                            {{> SeparatorNamingPartial}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Artist Folder Format</label>

        <div class="col-sm-1 col-sm-push-8 help-inline">
            <i class="icon-lidarr-form-info" title="" data-original-title="All caps or all lower-case can also be used. Only used when adding a new artist."></i>
        </div>

        <div class="col-sm-8 col-sm-pull-1">
            <div class="input-group x-helper-input">
                <input type="text" class="form-control naming-format" name="artistFolderFormat" data-onkeyup="true"/>
                <div class="input-group-btn btn-group x-naming-token-helper">
                    <button class="btn btn-icon-only dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-lidarr-add"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {{> ArtistNameNamingPartial}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Album Folder Format</label>

        <div class="col-sm-8">
            <div class="input-group x-helper-input">
                <input type="text" class="form-control naming-format" name="albumFolderFormat" data-onkeyup="true"/>
                <div class="input-group-btn btn-group x-naming-token-helper">
                    <button class="btn btn-icon-only dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-lidarr-add"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {{> ArtistNameNamingPartial}}
                        {{> AlbumTitleNamingPartial}}
                        {{> ReleaseYearNamingPartial}}
                        {{> SeparatorNamingPartial}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Single Track Example</label>

        <div class="col-sm-8">
            <p class="form-control-static x-single-track-example naming-example"></p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Artist Folder Example</label>

        <div class="col-sm-8">
            <p class="form-control-static x-artist-folder-example naming-example"></p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Album Folder Example</label>

        <div class="col-sm-8">
            <p class="form-control-static x-album-folder-example naming-example"></p>
        </div>
    </div>
</fieldset>
