<fieldset>
    <legend>Movie naming</legend>
    <div class="form-group">
        <label class="col-sm-3 control-label">Rename movies</label>
        <div class="col-sm-8">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="renameEpisodes" class="x-rename-episodes">
                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>
                    <div class="btn btn-primary slide-button"></div>
                </label>
                <span class="help-inline-checkbox">
                    <i class="icon-sonarr-form-warning" title="Radarr will use the existing file name if set to no."></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Replace illegal characters</label>
        <div class="col-sm-8">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="replaceIllegalCharacters">
                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>
                    <div class="btn btn-primary slide-button"></div>
                </label>
                <span class="help-inline-checkbox">
                    <i class="icon-sonarr-form-info" title="Replace or remove illegal characters."></i>
                </span>
            </div>
        </div>
    </div>
    <div class="x-naming-options">
        <div class="basic-setting x-basic-naming"></div>

        <div class="form-group advanced-setting">
            <label class="col-sm-3 control-label">Standard movie format</label>
            <div class="col-sm-1 col-sm-push-8 help-inline">
                <i class="icon-sonarr-form-info" title="All caps or all lower-case can also be used."></i>
                <a href="https://github.com/Radarr/Radarr/wiki/Sorting-and-Renaming" class="help-link" title="More information.">
                    <i class="icon-sonarr-form-info-link"></i>
                </a>
            </div>
            <div class="col-sm-8 col-sm-pull-1">
                <div class="input-group x-helper-input">
                    <input type="text" class="form-control naming-format" name="standardMovieFormat" data-onkeyup="true">
                    <div class="input-group-btn btn-group x-naming-token-helper">
                        <button class="btn btn-icon-only dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-sonarr-add" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">
                            {{> MovieTitleNamingPartial}}
                            {{> ReleaseYearNamingPartial}}
                            {{> QualityNamingPartial}}
                            {{> MediaInfoNamingPartial}}
                            {{> ReleaseGroupNamingPartial}}
                            {{> OriginalTitleNamingPartial}}
                            {{> ImdbIdNamingPartial}}
                            {{> SeparatorNamingPartial}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Movie folder format</label>

        <div class="col-sm-1 col-sm-push-8 help-inline">
            <i class="icon-sonarr-form-info" title="All caps or all lower-case can also be used. Only used when adding a new movie."></i>
        </div>

        <div class="col-sm-8 col-sm-pull-1">
            <div class="input-group x-helper-input">
                <input type="text" class="form-control naming-format" name="movieFolderFormat" data-onkeyup="true">
                <div class="input-group-btn btn-group x-naming-token-helper">
                    <button class="btn btn-icon-only dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-sonarr-add" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {{> MovieTitleNamingPartial}}
                        {{> ReleaseYearNamingPartial}}
                        {{> QualityNamingPartial}}
                        {{> MediaInfoNamingPartial}}
                        {{> ReleaseGroupNamingPartial}}
                        {{> OriginalTitleNamingPartial}}
                        {{> ImdbIdNamingPartial}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Movie example</label>

        <div class="col-sm-8">
            <p class="form-control-static x-movie-example naming-example"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Movie folder example</label>

        <div class="col-sm-8">
            <p class="form-control-static x-movie-folder-example naming-example"></p>
        </div>
    </div>
</fieldset>
