<fieldset>
    <legend>Movie Naming</legend>

    <div class="form-group">
        <label class="col-sm-3 control-label">Rename Movies</label>

        <div class="col-sm-8">
            <div class="input-group">
                <label class="checkbox toggle well">
                    <input type="checkbox" name="renameEpisodes" class="x-rename-episodes"/>

                    <p>
                        <span>Yes</span>
                        <span>No</span>
                    </p>

                    <div class="btn btn-primary slide-button"/>
                </label>

                <span class="help-inline-checkbox">
                    <i class="icon-radarr-form-warning" title="Radarr will use the existing file name if set to no"/>
                </span>
            </div>
        </div>
    </div>

    <div class="x-naming-options">
        <div class="basic-setting x-basic-naming"></div>

        <div class="form-group advanced-setting">
            <label class="col-sm-3 control-label">Replace Illegal Characters</label>

            <div class="col-sm-8">
                <div class="input-group">
                    <label class="checkbox toggle well">
                        <input type="checkbox" name="replaceIllegalCharacters" class="x-replace-illegal-chars"/>

                        <p>
                            <span>Yes</span>
                            <span>No</span>
                        </p>

                        <div class="btn btn-primary slide-button"/>
                    </label>

                    <span class="help-inline-checkbox">
                        <i class="icon-radarr-form-info" title="Replace or Remove illegal characters"/>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group advanced-setting">
            <div class="x-replacing-options">

                <label class="col-sm-3 control-label">Colon Replacement Format</label>

                <span class="col-sm-1 col-sm-push-8 help-inline">
                    <i class="icon-radarr-form-info" title="Colons are illegal characters; Radarr will delete them by default" />
                </span>

                <div class="col-sm-8 col-sm-pull-1">
                    <select class="form-control" name="colonReplacementFormat">
                        <option value="delete">Delete</option>
                        <option value="dash">Replace with Dash</option>
                        <option value="spaceDash">Replace with Space Dash</option>
                        <option value="spaceDashSpace">Replace with Space Dash Space</option>

                    </select>
                </div>
            </div>
        </div>

        <div class="form-group advanced-setting">
            <label class="col-sm-3 control-label">Standard Movie Format</label>

            <div class="col-sm-1 col-sm-push-8 help-inline">
                <i class="icon-radarr-form-info" title="" data-original-title="All caps or all lower-case can also be used"></i>
                <a href="https://github.com/Radarr/Radarr/wiki/Sorting-and-Renaming" class="help-link" title="More information"><i class="icon-radarr-form-info-link"/></a>
            </div>

            <div class="col-sm-8 col-sm-pull-1">
                <div class="input-group x-helper-input">
                    <input type="text" class="form-control naming-format" name="standardMovieFormat" data-onkeyup="true" />
                    <div class="input-group-btn btn-group x-naming-token-helper">
                        <button class="btn btn-icon-only dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-radarr-add"></i>
                        </button>
                        <ul class="dropdown-menu">
                            {{> MovieTitleNamingPartial}}
                            {{> ReleaseYearNamingPartial}}
                            {{> TagsNamingPartial}}
                            {{> QualityNamingPartial}}
                            {{> MediaInfoNamingPartial}}
                            {{> ReleaseGroupNamingPartial}}
                            {{> OriginalTitleNamingPartial}}
                            {{> ImdbIdNamingPartial}}
                            {{> SeparatorNamingPartial}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="form-group advanced-setting">
        <label class="col-sm-3 control-label">Movie Folder Format</label>

        <div class="col-sm-1 col-sm-push-8 help-inline">
            <i class="icon-radarr-form-info" title="" data-original-title="All caps or all lower-case can also be used. Only used when adding a new movie."></i>
        </div>

        <div class="col-sm-8 col-sm-pull-1">
            <div class="input-group x-helper-input">
                <input type="text" class="form-control naming-format" name="movieFolderFormat" data-onkeyup="true"/>
                <div class="input-group-btn btn-group x-naming-token-helper">
                    <button class="btn btn-icon-only dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-radarr-add"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {{> MovieTitleNamingPartial}}
                        {{> ReleaseYearNamingPartial}}
                        {{> TagsNamingPartial}}
                        {{> QualityNamingPartial}}
                        {{> MediaInfoNamingPartial}}
                        {{> ReleaseGroupNamingPartial}}
                        {{> OriginalTitleNamingPartial}}
                        {{> ImdbIdNamingPartial}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Movie Example</label>

        <div class="col-sm-8">
            <p class="form-control-static x-movie-example naming-example"></p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Movie Folder Example</label>

        <div class="col-sm-8">
            <p class="form-control-static x-movie-folder-example naming-example"></p>
        </div>
    </div>
</fieldset>
