.remotePathMappingsHeader {
  display: flex;
  margin-bottom: 10px;
  font-weight: bold;
}

.actions {
  flex: 0 0 25px;
}

.host {
  flex: 1 0 300px;
}

.path {
  flex: 1 0 400px;
}

.addRemotePathMapping {
  padding-right: 10px;
}

.addButton {
  text-align: center;
}
