$hoverScale: 1.05;

.content {
  display: flex;
  flex-grow: 1;
}

.poster {
  position: relative;
}

.editorSelect {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 3;
}

.posterContainer {
  position: relative;
}

.link {
  composes: link from '~Components/Link/Link.css';

  display: block;
  color: var(--defaultColor);

  &:hover {
    color: var(--defaultColor);
    text-decoration: none;
  }
}

.alreadyExistsIcon {
  margin-left: 10px;
  color: #37bc9b;
  pointer-events: all;
}

.exclusionIcon {
  margin-left: 10px;
  color: var(--dangerColor);
  pointer-events: all;
}

.info {
  display: flex;
  flex: 1 0 1px;
  flex-direction: column;
  overflow: hidden;
  padding-left: 10px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  margin-bottom: 5px;
  line-height: 32px;
}

.lists {
  display: flex;
  margin-bottom: 5px;
}

.title {
  @add-mixin truncate;
  composes: link;

  flex: 1 0 1px;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
}

.actions {
  white-space: nowrap;
}

.details {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
}

.overview {
  composes: link;

  flex: 0 1 1000px;
  overflow: hidden;
  min-height: 0;
}

@media only screen and (max-width: $breakpointSmall) {
  .overview {
    display: none;
  }
}
