.info {
  min-width: 0;
  background-color: var(--movieBackgroundColor);
  text-align: center;
  font-size: $smallFontSize;
}

.title {
  @add-mixin truncate;

  composes: info;
}

.tags {
  composes: tags from '~./MovieIndexPoster.css';
}

.tagsList {
  composes: tagsList from '~./MovieIndexPoster.css';
}

@media only screen and (max-width: $breakpointSmall) {
  .title {
    overflow: visible;
    padding: 4px;
    min-height: 34px;
    text-overflow: clip;
    white-space: normal;
    overflow-wrap: anywhere;
  }
}
