.info {
  background-color: var(--movieBackgroundColor);
  text-align: center;
  font-size: $smallFontSize;
}

.title {
  @add-mixin truncate;

  composes: info;
}

.tags {
  composes: tags from '~./MovieIndexPoster.css';
}

.tagsList {
  composes: tagsList from '~./MovieIndexPoster.css';
}
