<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <Radarr__PostgresHost>192.168.100.5</Radarr__PostgresHost>
			<Radarr__PostgresPort>5432</Radarr__PostgresPort>
			<Radarr__PostgresUser>abc</Radarr__PostgresUser>
			<Radarr__PostgresPassword>abc</Radarr__PostgresPassword>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>