.sidebarContainer {
  flex: 0 0 $sidebarWidth;
  overflow: hidden;
  width: $sidebarWidth;
  background-color: var(--sidebarBackgroundColor);
  transition: transform 300ms ease-in-out;
  transform: translateX(0);
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
  background-color: var(--sidebarBackgroundColor);
  color: var(--white);
}

@media only screen and (max-width: $breakpointSmall) {
  .sidebarContainer {
    position: fixed;
    top: env(safe-area-inset-top);
    bottom: 0;
    z-index: 2;
    max-width: calc(100% - 44px - env(safe-area-inset-right));
    height: auto;
  }

  .sidebar {
    position: absolute;
    inset: 0;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: env(safe-area-inset-bottom);
    width: 100%;
    height: 100%;
    overscroll-behavior: contain;
  }
}
