<div class="add-thingy">
    <div>
        {{name}}
    </div>

    <div class="pull-left">
        <div class="format-tags">
            {{#each formatTags}}
                {{formatTag this}}
            {{/each}}
        </div>

    </div>

    <div class="pull-right">
        <a class="btn btn-xs btn-default x-info" href="{{infoLinkCreator wikiRoot='Custom-Formats' hash=name}}">
            <i class="icon-radarr-form-info"/>
        </a>
    </div>

</div>
