<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Custom Formats</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-info">
            Radarr allows you to create custom formats to suit your automation needs. Below are some templates to help you get started.<br/>
            For more information on the individual templates, click on the info buttons or view the whole wiki page <a href="https://github.com/Radarr/Radarr/wiki/Custom-Formats">here</a>.
        </div>
        <div class="add-indexer add-thingies">
            <ul class="items"></ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
