.actions {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  min-width: 70px;
}

.sourceTitle {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  word-break: break-word;
}

.customFormatScore {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 55px;
}
