.queue {
  padding-left: 2px;
  border-left: 4px solid $queueColor;
}

.continuing {
  padding-left: 2px;
  border-left: 4px solid $primaryColor;
}

.availNotMonitored {
  padding-left: 2px;
  border-left: 4px solid $darkGray;
}

.ended {
  padding-left: 2px;
  border-left: 4px solid $successColor;
}

.missingMonitored {
  padding-left: 2px;
  border-left: 4px solid $dangerColor;
}

.missingUnmonitored {
  padding-left: 2px;
  border-left: 4px solid $warningColor;
}
