.event {
  display: flex;
  overflow-x: hidden;
  padding: 5px;
  border-bottom: 1px solid $borderColor;
  font-size: $defaultFontSize;

  &:hover {
    background-color: $tableRowHoverBackgroundColor;
  }
}

.link {
  composes: link from '~Calendar/Events/CalendarEvent.css';
}

.eventWrapper {
  display: flex;
  flex: 1 0 1px;
  overflow-x: hidden;
  padding-left: 6px;
  border-left-width: 4px;
  border-left-style: solid;
}

.date {
  flex: 0 0 250px;
  font-weight: bold;
}

.time {
  flex: 0 0 125px;
  margin-right: 10px;
  border: none !important;
}

.movieTitle,
.genres {
  @add-mixin truncate;

  flex: 0 1 300px;
  margin-right: 10px;
}

.statusIcon {
  margin-left: 3px;
}

/*
 * Status
 */

.downloaded {
  composes: downloaded from '~Calendar/Events/CalendarEvent.css';
}

.queue {
  composes: queue from '~Calendar/Events/CalendarEvent.css';
}

.unmonitored {
  composes: unmonitored from '~Calendar/Events/CalendarEvent.css';
}

.missingUnmonitored {
  composes: missingUnmonitored from '~Calendar/Events/CalendarEvent.css';
}

.missingMonitored {
  composes: missingMonitored from '~Calendar/Events/CalendarEvent.css';
}

.continuing {
  composes: continuing from '~Calendar/Events/CalendarEvent.css';
}

@media only screen and (max-width: $breakpointSmall) {
  .event {
    flex-direction: column;
  }

  .eventWrapper {
    display: block;
    flex: 0 0 auto;
  }

  .date {
    margin-left: 10px;
  }

  .date,
  .time,
  .movieTitle {
    flex: 0 0 100%;
  }
}

.dateIcon {
  width: 25px;
}
