.logo {
  margin: auto;
  padding: 9px;
}

.logoContainer {
  display: inline-block;
  margin: 0.5em;
  width: 50px;
  height: 50px;
  outline: none;
  border: solid 1px #e6e6e6;
  border-radius: 0.5em;
  background: #f8f8ff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
