.title {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  white-space: nowrap;
}

.monitored {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 42px;
}

.status {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}
