.netImports {
  display: flex;
  flex-wrap: wrap;
}

.addNetImport {
  composes: netImport from '~./NetImport.css';

  background-color: $cardAlternateBackgroundColor;
  color: $gray;
  text-align: center;
}

.center {
  display: inline-block;
  padding: 5px 20px 0;
  border: 1px solid $borderColor;
  border-radius: 4px;
  background-color: $white;
}
